.bttv-tooltip-wrapper {
  display: inline-block;
  position: relative;

  &:hover .bttv-tooltip {
    display: block;
  }
}

.bttv-tooltip {
  padding: 3px 6px;
  border-radius: var(--border-radius-medium);
  background-color: var(--color-background-tooltip);
  color: var(--color-text-tooltip);
  display: none;
  position: absolute;
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-heading);
  text-align: center;
  z-index: var(--z-index-balloon);
  pointer-events: none;
  user-select: none;
  white-space: nowrap;
  margin-bottom: 6px;

  &.bttv-tooltip--up {
    top: auto;
    bottom: 100%;
    left: 0;
    margin-bottom: 6px;

    &.bttv-tooltip--align-center {
      left: 50%;
      transform: translateX(-50%);

      &:after {
        left: 50%;
        margin-left: -3px;
      }
    }

    &:after {
      border-radius: 0 0 2px;
      top: 100%;
      left: 6px;
      margin-top: -3px;
    }
  }

  &:before {
    top: -6px;
    left: -6px;
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    z-index: var(--z-index-below);
  }

  &:after {
    background-color: var(--color-background-tooltip);
    width: 6px;
    height: 6px;
    transform: rotate(45deg);
    z-index: var(--z-index-below);
  }

  &:after,
  &:before {
    position: absolute;
    content: '';
  }
}
