/* Prevent stacking of IceCube, SoSnowy */
.bttv-emo-5849c9a4f52be01a7ee5f79d + .bttv-emo-5849c9a4f52be01a7ee5f79d,
.bttv-emo-567b5b520e984428652809b6 + .bttv-emo-567b5b520e984428652809b6 {
  display: none;
}

/* Ice Cube */
span[data-a-target="emote-name"] + span[data-a-target="chat-message-text"] span .bttv-emo-5849c9a4f52be01a7ee5f79d img,
div.bttv-emote + .bttv-emo-5849c9a4f52be01a7ee5f79d img {
  margin-left: -33px;
}

/* SoSnowy */
span[data-a-target="emote-name"] + span[data-a-target="chat-message-text"] span .bttv-emo-567b5b520e984428652809b6 img,
div.bttv-emote + .bttv-emo-567b5b520e984428652809b6 img {
  margin-left: -32px;
}

/* SantaHat */
span[data-a-target="emote-name"] + span[data-a-target="chat-message-text"] span .bttv-emo-58487cc6f52be01a7ee5f205 img,
div.bttv-emote + .bttv-emo-58487cc6f52be01a7ee5f205 img {
  margin-left: -34px;
  margin-top: -18px;
}

/* TopHat, CandyCane, ReinDeer */
span[data-a-target="emote-name"] + span[data-a-target="chat-message-text"] span .bttv-emo-5849c9c8f52be01a7ee5f79e img,
div.bttv-emote + .bttv-emo-5849c9c8f52be01a7ee5f79e img,
span[data-a-target="emote-name"] + span[data-a-target="chat-message-text"] span .bttv-emo-567b5c080e984428652809ba img,
div.bttv-emote + .bttv-emo-567b5c080e984428652809ba img,
span[data-a-target="emote-name"] + span[data-a-target="chat-message-text"] span .bttv-emo-567b5dc00e984428652809bd img,
div.bttv-emote + .bttv-emo-567b5dc00e984428652809bd img {
  margin-left: -31px;
  margin-top: -18px;
}

.bttv-emote-tooltip-wrapper {
  display: inline;
  position: relative;

  &:hover .bttv-emote-tooltip {
    display: block;
  }
}

.bttv-emote-tooltip {
  padding: 3px 6px;
  border-radius: 2px;
  background: #0e0c13;
  color: #fff;
  display: none;
  position: absolute;
  left: 0;
  padding: .5rem;
  font-size: 1.2rem;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
  z-index: 2000;
  pointer-events: none;
  text-align: center;
  user-select: none;

  &.bttv-emote-tooltip--up {
    top: auto;
    bottom: 100%;
    left: 0;
    margin-bottom: 6px;

    &.bttv-emote-tooltip--align-center {
      left: 50%;
      transform: translateX(-50%);

      &:after {
        left: 50%;
        margin-left: -3px;
      }
    }

    &:after {
      border-radius: 0 0 2px;
      top: 100%;
      left: 6px;
      margin-top: -3px;
    }
  }

  &:before {
    top: -6px;
    left: -6px;
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    z-index: -1;
  }

  &:after {
    background: #0e0c13;
    width: 6px;
    height: 6px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: -1;
  }

  &:after, &:before {
    position: absolute;
    content: "";
  }
}

.tw-root--theme-dark {
  .bttv-emote-tooltip {
    padding: 3px 6px;
    border-radius: 2px;
    background: #fff;
    color: #0e0c13;

    &:after {
      background: #fff;
    }
  }
}
