/* Prevent stacking of IceCube, SoSnowy */
.bttv-emo-5849c9a4f52be01a7ee5f79d + .bttv-emo-5849c9a4f52be01a7ee5f79d,
.bttv-emo-567b5b520e984428652809b6 + .bttv-emo-567b5b520e984428652809b6 {
  display: none;
}

/* Ice Cube */
div[data-test-selector='emote-button']
  + span[data-a-target='chat-message-text']
  span
  .bttv-emo-5849c9a4f52be01a7ee5f79d,
div.bttv-emote + .bttv-emo-5849c9a4f52be01a7ee5f79d {
  margin-left: -33px;
}

/* SoSnowy */
div[data-test-selector='emote-button']
  + span[data-a-target='chat-message-text']
  span
  .bttv-emo-567b5b520e984428652809b6,
div.bttv-emote + .bttv-emo-567b5b520e984428652809b6 {
  margin-left: -32px;
}

/* SantaHat */
div[data-test-selector='emote-button']
  + span[data-a-target='chat-message-text']
  span
  .bttv-emo-58487cc6f52be01a7ee5f205,
div.bttv-emote + .bttv-emo-58487cc6f52be01a7ee5f205 {
  margin-left: -34px;
  margin-top: -18px;
}

/* TopHat, CandyCane, ReinDeer */
div[data-test-selector='emote-button']
  + span[data-a-target='chat-message-text']
  span
  .bttv-emo-5849c9c8f52be01a7ee5f79e,
div.bttv-emote + .bttv-emo-5849c9c8f52be01a7ee5f79e,
div[data-test-selector='emote-button']
  + span[data-a-target='chat-message-text']
  span
  .bttv-emo-567b5c080e984428652809ba,
div.bttv-emote + .bttv-emo-567b5c080e984428652809ba,
div[data-test-selector='emote-button']
  + span[data-a-target='chat-message-text']
  span
  .bttv-emo-567b5dc00e984428652809bd,
div.bttv-emote + .bttv-emo-567b5dc00e984428652809bd {
  margin-left: -31px;
  margin-top: -18px;
}

/* cvHazmat, cvMask */
div[data-test-selector='emote-button']
  + span[data-a-target='chat-message-text']
  span
  .bttv-emo-5e76d338d6581c3724c0f0b2
  img,
div.bttv-emote + .bttv-emo-5e76d338d6581c3724c0f0b2 img,
div[data-test-selector='emote-button']
  + span[data-a-target='chat-message-text']
  span
  .bttv-emo-5e76d399d6581c3724c0f0b8
  img,
div.bttv-emote + .bttv-emo-5e76d399d6581c3724c0f0b8 img {
  height: 34px;
  width: 34px;
}

div[data-test-selector='emote-button']
  + span[data-a-target='chat-message-text']
  span
  .bttv-emo-5e76d338d6581c3724c0f0b2,
div.bttv-emote + .bttv-emo-5e76d338d6581c3724c0f0b2,
div[data-test-selector='emote-button']
  + span[data-a-target='chat-message-text']
  span
  .bttv-emo-5e76d399d6581c3724c0f0b8,
div.bttv-emote + .bttv-emo-5e76d399d6581c3724c0f0b8 {
  margin-left: -34px;
}

.bttv-emote-tooltip-wrapper {
  display: inline-block;
  position: relative;

  &:hover .bttv-emote-tooltip {
    display: block;
  }
}

.bttv-emote-tooltip {
  padding: 3px 6px;
  border-radius: 2px;
  background: #0e0c13;
  color: #fff;
  display: none;
  position: absolute;
  left: 0;
  padding: 0.5rem;
  font-size: 1.2rem;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
  z-index: 2000;
  pointer-events: none;
  text-align: center;
  user-select: none;

  &.bttv-emote-tooltip--up {
    top: auto;
    bottom: 100%;
    left: 0;
    margin-bottom: 6px;

    &.bttv-emote-tooltip--align-center {
      left: 50%;
      transform: translateX(-50%);

      &:after {
        left: 50%;
        margin-left: -3px;
      }
    }

    &:after {
      border-radius: 0 0 2px;
      top: 100%;
      left: 6px;
      margin-top: -3px;
    }
  }

  &:before {
    top: -6px;
    left: -6px;
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    z-index: -1;
  }

  &:after {
    background: #0e0c13;
    width: 6px;
    height: 6px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: -1;
  }

  &:after,
  &:before {
    position: absolute;
    content: '';
  }
}

.tw-root--theme-dark {
  .bttv-emote-tooltip {
    padding: 3px 6px;
    border-radius: 2px;
    background: #fff;
    color: #0e0c13;

    &:after {
      background: #fff;
    }
  }
}
