.chat-settings {
  overflow-y: scroll;
  max-height: calc(100vh - 200px);

  button[data-a-target='clear-chat-button'] {
    display: none;
  }
}

.bttv-chat-settings {
  border-top: var(--border-width-default) solid var(--color-border-base) !important;
  margin-top: 2rem !important;
  padding-top: 2rem !important;

  .settingHeader {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;

    p {
      font-size: var(--font-size-6) !important;
      color: var(--color-text-alt-2) !important;
      text-transform: uppercase !important;
      font-weight: 600 !important;
    }
  }

  .settingRow {
    position: relative !important;
    width: 100% !important;
  }

  .settingButton {
    color: inherit;
    border-radius: var(--border-radius-medium);
    display: block;
    width: 100%;
    padding: 0.5rem !important;

    &:hover {
      color: inherit;
      text-decoration: none;
      background-color: var(--color-background-interactable-hover);
    }
  }
}
