.chat-settings {
  overflow-y: scroll;
  max-height: calc(100vh - 200px);

  button[data-a-target="clear-chat-button"] {
    display: none;
  }
}

.bttv-chat-settings button {
  color: inherit;

  &:hover {
    color: inherit;
    text-decoration: none;
    background-color: var(--color-background-interactable-hover);
  }
}
