#bttvEmoteMenuContainer {
  text-size-adjust: 100%;
  color: var(--color-text-base) !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  position: relative !important;
  display: inline;
}
