.button {
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 32px;
  width: 32px;
  filter: grayscale(100%);
  opacity: 0.9;
  float: left;
  padding: 15px;
  background-color: initial;
  background-size: 20px;
  border: none;

  svg {
    width: 24px !important;
  }
}
