.button {
  width: 290px;
  height: 100%;
  max-height: 40px;
  border: none;
  display: flex;
  align-items: center;
  background: none;
  color: var(--yt-compact-link-color, var(--yt-spec-text-primary));
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 100;
  padding: 0px 36px 0px 16px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--yt-spec-badge-chip-background);
}

.button:focus {
  background-color: var(--paper-item-focused-background-color);
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.chatAppDropdownButton {
  position: relative;
  bottom: 10px;
  height: 36px;
}
