.button {
  display: flex;
  align-items: center;
  padding: 0 36px 0 16px;
  cursor: pointer;
  min-height: 36px;

  &:hover {
    background-color: var(--yt-spec-10-percent-layer);
  }
}

/* youtube studio dropdown popups use different color for hover */
ytls-menu-popup-renderer .button:hover {
  background-color: var(--yt-spec-white-1-alpha-20);
}

.buttonLabel {
  color: var(--yt-spec-text-primary);
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 100;
  -webkit-font-smoothing: var(--paper-font-subhead_-_-webkit-font-smoothing);
}

.buttonIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  width: 24px;
  height: 24px;

  .buttonIcon {
    width: 20px;
    height: 20px;
    flex: none;
    filter: grayscale(100%) brightness(0%);
    background: url(assets/logos/logo.svg) no-repeat 0 0;
    background-size: cover;
  }
}

html[dark] .buttonIcon {
  filter: grayscale(100%) brightness(500%);
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

:global {
  /* fixes youtube's chat menu dropdown font size */
  tp-yt-paper-item.ytls-menu-service-item-renderer {
    font-size: 1.4rem;
  }
}
