{
  "env": {
    "browser": true,
    "node": true,
    "jquery": true,
    "es6": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "requireConfigFile": false,
    "allowImportExportEverywhere": true
  },
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "import/extensions": ["error", "ignorePackages"],
    "no-param-reassign": "off",
    "no-underscore-dangle": "off",
    "no-continue": "off",
    "no-restricted-syntax": "off",
    "class-methods-use-this": "off",
    "no-plusplus": "off",
    "no-empty": "off",
    "max-classes-per-file": "off",
    "import/prefer-default-export": "off",
    "no-unused-expressions": "off",
    "no-alert": "off",
    "no-restricted-properties": "off",
    "no-case-declarations": "off",
    "import/no-unresolved": "off"
  }
}