{
  "env": {
    "browser": true,
    "node": true,
    "jquery": true,
    "es6": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "requireConfigFile": false,
    "allowImportExportEverywhere": true,
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    }
  },
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "import/extensions": ["error", "ignorePackages"],
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "no-param-reassign": "off",
    "no-underscore-dangle": "off",
    "no-continue": "off",
    "no-restricted-syntax": "off",
    "class-methods-use-this": "off",
    "no-plusplus": "off",
    "no-empty": "off",
    "max-classes-per-file": "off",
    "no-bitwise": "off"
  }
}
