{
  "printWidth": 120,
  "trailingComma": "es5",
  "bracketSpacing": false,
  "singleQuote": true,
  "jsxBracketSameLine": true,
  "endOfLine":"auto",
  "overrides": [
    {
      "files": ["*.css"],
      "options": {
        "parser": "css"
      }
    }
  ]
}