.bttv-chat-badge {
  width: 18px;
  height: 18px;
}

.chat-badge {
  border-radius: 3px;
}

.bttv-emoji img {
    height: auto;
    width: 20px;
    margin-bottom: -4px;
    display: inline-block;
}

.chat-input .tw-textarea--no-resize {
  resize: vertical;
  max-height: 160px;
  min-height: 40px;
}