.bttv-chat-badge {
  width: 18px;
  height: 18px;
}

.chat-badge {
  border-radius: 3px;
}

.bttv-emoji img {
  height: auto;
  width: 20px;
  margin-bottom: -4px;
  display: inline-block;
}

.bttv-chat-badge-container {
  position: relative !important;
  display: inline !important;
}

.bttv-emote-modifier-wide img {
  width: 112px;
  height: 28px;
  object-fit: fill;
}

.bttv-emote-modifier-flip-horizontal img {
  transform: scaleX(-1);
}

.bttv-emote-modifier-flip-vertical img {
  transform: scaleY(-1);
}

.bttv-emote-modifier-rotate-left img {
  transform: rotate(-90deg);
  max-width: 28px;
}

.bttv-emote-modifier-rotate-right img {
  transform: rotate(90deg);
  max-width: 28px;
}

.bttv-emote-modifier-zero-space {
  margin-left: -4px;
}

.bttv-emote-modifier-cursed img {
  filter: grayscale(1) brightness(0.7) contrast(2.5);
}

.bttv-emote-modifier-party img {
  animation: bttv-emote-modifier-party 1.5s linear infinite;
}

@keyframes bttv-emote-modifier-party {
  0% {
    filter: sepia(0.5) hue-rotate(0deg) saturate(2.5);
  }
  100% {
    filter: sepia(0.5) hue-rotate(360deg) saturate(2.5);
  }
}

.bttv-emote-modifier-shake img {
  animation: bttv-emote-modifier-shake 500ms step-start infinite;
}

@keyframes bttv-emote-modifier-shake {
  0% {
    translate: 0px 1px;
  }
  10% {
    translate: 2px 0px;
  }
  20% {
    translate: 1px -2px;
  }
  30% {
    translate: -2px 1px;
  }
  40% {
    translate: 0px -1px;
  }
  50% {
    translate: 2px 2px;
  }
  60% {
    translate: -1px -1px;
  }
  70% {
    translate: -2px 2px;
  }
  80% {
    translate: 2px 1px;
  }
  90% {
    translate: -1px -2px;
  }
  100% {
    translate: 1px 0px;
  }
}

.bttv-emote-modifier-party.bttv-emote-modifier-shake img {
  animation:
    bttv-emote-modifier-party 1.5s linear infinite,
    bttv-emote-modifier-shake 500ms step-start infinite;
}
