.bttvHostButtonWrapper {
  margin-left: 1rem !important;
}

#bttv-host-button {
  display: inline-flex;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  user-select: none;
  width: 100%;
  font-weight: var(--font-weight-semibold);
  border-radius: var(--border-radius-medium);
  font-size: var(--button-text-default);
  height: var(--button-size-default);
  background-color: var(--color-background-button-secondary-default);
  color: var(--color-text-button-secondary);

  &:hover {
    background-color: var(--color-background-button-secondary-hover);
    color: var(--color-text-button-secondary);
    text-decoration: none;
  }

  .buttonText {
    position: relative;
    padding: var(--button-padding-y) var(--button-padding-x);
    text-align: center;
  }
}
