a#bvl-button.button.glyph-only.float-left(title="Better Viewer List")
  svg.svg-betterviewerlist(version="1.1", viewbox="0 0 16 16", width="16px", height="16px")
    path(clip-rule="evenodd", d="M6,14v-2h8v2H6z M6,8h8v2H6V7z M6,4h8v2H6V3z M6,0h8v2H6V3z M2,12h2v2H2V11z M2,8h2v2H2V7z M2,4h2v2H2V3z M2,0h2v2H2V11z")