.list-header BetterTTV
.chat-menu-content
    if $("body[data-page=\"ember#chat\"]").length
        p: a.g18_gear-00000080.blackChatLink(href="#") Black Chat (Chroma Key)
    if $("#dash_main").length || window !== window.top
        p: a.g18_gear-00000080.flipDashboard(href="#")
            if bttv.settings.get("flipDashboard")
                | Unflip Dashboard
            else
                | Flip Dashboard
    p
        input.toggleDarkenTTV(type="checkbox", checked=bttv.settings.get("darkenedMode"))
        | Dark Mode
    p: a.g18_gear-00000080.setBlacklistKeywords(href="#") Set Blacklist Keywords
    p: a.g18_gear-00000080.setHighlightKeywords(href="#") Set Highlight Keywords
    p: a.g18_gear-00000080.setScrollbackAmount(href="#") Set Scrollback Amount
    p: a.g18_trash-00000080.clearChat(href="#") Clear My Chat
    p: a.button-simple.dark.openSettings(href="#" style="display: block;margin-top: 8px;text-align: center;")
        | BetterTTV Settings