#bttv-custom-timeout-contain
  svg(width='80px', height='200px', version='1.1', viewBox='0 0 80 200', x='0px', y='0px')
    path(clip-rule='evenodd', fill-rule='evenodd', fill="transparent", stroke="#FFFFFF", d='M1.4921875,1.11914063 C1.4921875,1.11914063 5.43620797,40.7321898 11.1326383,76.9997898 C16.8290686,113.26739 21.4590492,136.906602 24.4985676,147.594414 C27.5380859,158.282227 32.7128906,173.133789 39.3535156,180.943359 C45.9941406,188.75293 51.4140625,191.865234 61.0625,196.146484 C70.7109375,200.427734 81.4921875,201.119141 81.4921875,201.119141')