#bttv-pinned-highlight
  span.close
    svg.svg-close(height='8px', version='1.1', viewbox='0 0 16 16', width='8px', x='0px', y='0px')
      path(clip-rule='evenodd', d='M13.657,3.757L9.414,8l4.243,4.242l-1.415,1.415L8,9.414l-4.243,4.243l-1.414-1.415L6.586,8L2.343,3.757l1.414-1.414L8,6.586l4.242-4.243L13.657,3.757z', fill-rule='evenodd')
  span.time #{time}
  span.display-name #{displayName}
  span.message #{message}