#header
  span#logo: img(height="45px" src="//cdn.betterttv.net/style/logos/settings_logo.png")
  ul.nav
    li: a(href="#bttvAbout") About
    li.active: a(href="#bttvSettings") Settings
    li: a(href="#bttvChangelog") Changelog
    li: a(href="#bttvPrivacy") Privacy Policy
    li: a(href="#bttvBackup") Backup/Import
  span#close &times;
#bttvSettings.scroll.scroll-dark(style="height:425px;")
  .tse-content.options-list
    h2.option Here you can manage the various BetterTTV options. Click On or Off to toggle settings.
#bttvAbout(style="display:none;")
  .aboutHalf
    img.bttvAboutIcon(src="//cdn.betterttv.net/style/logos/mascot.png")
    h1 BetterTTV v #{bttv.info.versionString()}
    h2 from your friends at <a href="https://www.nightdev.com" target="_blank">NightDev</a>
    br
  .aboutHalf
    h1(style="margin-top: 100px;") Think this addon is awesome?
    br
    br
    h2: a(target="_blank" href="https://chrome.google.com/webstore/detail/ajopnjidmegmdimjlfnijceegpefgped") Drop a Review on the Chrome Webstore
    br
    h2 or maybe
    br
    h2: a(target="_blank" href="https://streamtip.com/t/night") Support the Developer
    br
#bttvPrivacy.scroll.scroll-dark(style="display:none;height:425px;")
  .tse-content
#bttvChangelog.scroll.scroll-dark(style="display:none;height:425px;")
  .tse-content
#bttvBackup(style="display:none;height:425px;padding:25px;")
  h1(style="padding-bottom:15px;") Backup Settings
  button#bttvBackupButton.primary_button
    span Download
  h1(style="padding-top:25px;padding-bottom:15px;") Import Settings
  input#bttvImportInput(type="file" style="height: 25px;width: 250px;")
#footer
  span BetterTTV &copy; <a href="https://www.nightdev.com" target="_blank">NightDev</a> 2014
  span(style="float:right;") <a href="https://community.nightdev.com/c/betterttv" target="_blank">Get Support</a> | <a href="https://github.com/night/BetterTTV/issues/new?labels=bug" target="_blank">Report a Bug</a> | <a href="https://streamtip.com/t/night" target="_blank">Support the Developer</a>
