object.bttvTeamFlashPlayer(type="application/x-shockwave-flash" data="//www-cdn.jtvnw.net/swflibs/TwitchPlayer.swf" id=channel+"_video_embed" wmode="transparent")
  param(name="allowFullScreen" value="true")
  param(name="allowNetworking" value="all")
  param(name="allowScriptAccess" value="always")
  param(name="flashvars" value="channel="+channel+"&auto_play=true")