if id === "bttvTwitterIframe"
  iframe(id=id scrolling="no" frameborder="0" src="https://platform.twitter.com/widgets/tweet_button.html?size=s&align=right&url=http://www.twitch.tv/"+channel+"&text="+displayName+" is playing "+game+" at:")
else
  iframe(id=id scrolling="no" frameborder="0" src="http://www.facebook.com/plugins/like.php?href=http://www.twitch.tv/"+channel+"&layout=button_count&show-faces=false&share=false&action=like&width=85&height=21&colorscheme=light")