a.live_channel_name(href="//www.twitch.tv/"+channel title="Click to go "+displayName+"'s channel")=displayName+" playing "+game
span#channel_viewer_count.stat(title="Viewers")=viewers
span#views_count.stat(title="Views")=views
span#followers_count.stat(title="Followers")=followers