.hide {
  display: none !important;
}

.hideOfflineChannel {
  display: none !important;
}

.hideStories div[class*='storiesLeftNavSection'],
.hideStories div:has(> div > button > div[class*='storiesLeftNavSectionCollapsedButton']) {
  display: none !important;
}
