.hide {
  display: none !important;
}

.hideOfflineChannel {
  display: none !important;
}

.hideStories {
  :global {
    div.side-nav div[class*='storiesLeftNavSection'],
    div.side-nav div:has(> div > button > div[class*='storiesLeftNavSectionCollapsedButton']) {
      display: none !important;
    }
  }
}
