.bttv-hide-featured-channels {
  .recommended-channels {
    display: none;
  }
}

.bttv-hide-recommended-friends {
  .recommended-friends {
    display: none;
  }
}

.bttv-hide-prime-promotions {
  .top-nav__prime {
    display: none;
  }
}

.bttv-hide-prime-promotions {
  .side-nav-card[href*="/videos/all"], .side-nav-card__link[href*="/videos/all"] {
    display: none!important;
  }
}
