.bttv-hide-featured-channels {
  display: none !important;
}

.bttv-hide-recommended-friends {
  .recommended-friends {
    display: none;
  }
}

.bttv-hide-followed-offline {
  display: none !important;
}
