.container {
  display: inline-flex !important;
  position: relative !important;
}

.hideDefaultEmoteMenuButton {
  button[data-a-target='emote-picker-button'] {
    display: none !important;
  }
}

.hideEmoteMenuButton {
  display: none;
}

.popover {
  height: 412px;
  margin-top: -80px !important;
  margin-left: 82px !important;
  width: 390px;
  color: #efeff1;

  div[class$='-popover-arrow'] {
    display: none !important;
  }
}

@media only screen and (max-width: 400px) {
  .popover {
    width: 320px;
  }
}

@media only screen and (max-width: 510px) {
  .popover {
    margin-top: -58px !important;
    margin-left: 60px !important;
  }
}
