body .popout_chat, .real_title, #right_col .content #chat_line_list, #main_col .content #broadcast_meta .info .channel, #channel_panels_contain #channel_panels .panel h3 {
	color: #fff;
}

body {
	background-color: #000 !important;
}

#chat_column, #chat_redisplay_holder {
	background: #333 !important;
}

#chat_line_list, #chat_lines {
	background-color: #000 !important;
	color: #fff;
	font-size: 18px !important;
	font-weight: bold;
	text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.4);
}

#chat_text_input {
	background-color: rgb(20, 20, 20) !important;
	color: #fff;
	border: solid 1px #333;
	/*box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05), 0px 1px 0px rgba(0, 0, 0, 0.15) inset;*/
	box-shadow: none;
}

#right_col, #right_col .content .top #right_nav, #right_col .content .top, #right_col .content .bottom #controls {
	background-color: #282828 !important;
}

#right_col .content .bottom #controls {
	border-top: 1px solid rgba(0, 0, 0, 0.65)
}

.channel-main, .title_over {
	background: #000;
}

#custom_bg {
	display: none;
}

#main_col .content #broadcast_meta .image {
	background-color: #222;
}

.channel_name {
	color: rgb(119, 119, 119);
}

.playing a, #team_membership a, .more_videos a, #chat_line_list a, #right_col .content #archives .video a .title {
	color: #777;
}

#channel_panels_contain #channel_panels .panel {
	color: #999;
}

#left_close, #right_close {
	border: 1px solid;
	border-color: rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.55);
	background-image: url(../icons/arrow_collapse.png) !important;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0px 1px;
	background-color: rgb(40, 40, 40);
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05), 0px 1px 0px rgba(0, 0, 0, 0.15) inset;
}

.popout_chat .drag-handle {
	background-color: #fff !important;
}

.segmented_tabs li a.selected, .segmented_tabs li a:active, .segmented_tabs li:last-child a {
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.65),inset 0 1px rgba(0, 0, 0, 0.05);
}

.noise {
	background-image: none;
	background-color: #000;
}

#main_col {
	background: rgb(20, 20, 20);
}

#right_col .content {
	border-left: 1px solid #000000;
}

#chat_line_list li a.timeout {
	padding-left: 18px;
	min-height: 18px;
	background: url(../icons/timeout.png) no-repeat !important;
}

#chat_line_list li a.ban {
	padding-left: 18px;
	min-height: 18px;
	background: url(../icons/ban.png) no-repeat !important;
}

#chat_line_list li a.unban {
	padding-left: 18px;
	min-height: 18px;
	background: url(../icons/unban.png) no-repeat !important;
}

#chat_line_list li .mod_button img {
	display: none;
}

/* Taken from http://userstyles.org/styles/82967/twitch-dark-view */
#channel_stats {
	background-color: rgb(30, 30, 30);
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05), 0px 1px 0px rgba(0, 0, 0, 0.15) inset;
	border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.35);
	color: rgb(170, 170, 170);
	text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 0px;
	border-radius: 0px;
	border: 1px solid;
	padding-right: 10px;
	border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.35);
	border-radius: 5px;
}

.dropdown_glyph, .dropdown_static, #subscribe_price.button.leftround.normal_button {
	background: rgb(30, 30, 30) url(../icons/dropdown_arrow.png) no-repeat right center !important;
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05), 0px 1px 0px rgba(0, 0, 0, 0.15) inset !important;
	color: rgb(170, 170, 170) !important;
	text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 0px !important;
}

.content .bottom #controls #control_buttons #chat_viewers_dropmenu_button span, 
.content .bottom #controls #control_buttons #chat_settings_dropmenu_button span,
.content #stats_and_actions #channel_actions #button_options span{
	background-image: url(../icons/button_glyphs.png) !important;
}

#right_col .content .top {
	border-bottom: none !important;
	border-bottom-color: none !important;
}

.segmented_tabs {
	border-top: 0px !important;
}

.segmented_tabs li a {
	background: transparent !important;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0px 1px !important;
	text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 0px !important;
}

.segmented_tabs li a.selected, .segmented_tabs li a.tab {
	box-shadow: none !important;
}

.segmented_tabs li, .directory_header_contain .directory_header #custom_filter input {
	background-color: rgb(30, 30, 30) !important;
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05), 0px 1px 0px rgba(0, 0, 0, 0.15) inset!important;
}

.segmented_tabs {
	border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.35) !important;
	color: rgb(170, 170, 170) !important;
	text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 0px !important;
	border: none;
	background-image: none !important;
}

.segmented_tabs li a {
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05), 0px 1px 0px rgba(0, 0, 0, 0.15) inset !important;
	border: 1px solid #000 !important;
}

.more_archives.bottom:hover {
	color: #999 !important;
	background-color: rgb(35, 35, 35) !important;
}

.more_archives.bottom {
	color: #999 !important;
	text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 0px !important;
	border-top: 1px solid #000 !important;
	box-shadow: rgba(255, 255, 255, 0.04) 0px 1px 0px 0px inset !important;
}

#archives.stretch.scroll {
	background-color: rgb(30, 30, 30) !important;
	color: rgb(238, 238, 238) !important;
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1) inset !important;
}

.content #archives .video a {
	border-top-color: #000 !important;
	border-bottom-color: #000 !important;
}

.content #archives .video a .title {
	color: rgb(170, 170, 170) !important;
}

.content #archives .video a:hover .title {
	color: rgb(238, 238, 238) !important;
}

.content #archives .video a:hover {
	background-color: rgb(35, 35, 35) !important;
}

.video_meta .broadcaster {
	color: #fff;
}

#main_col .content #stats_and_actions #channel_stats #channel_viewer_count_bttv {
	background-position: 0 0;
}

.panel.masonry-brick{
	background-color: rgb(30, 30, 30) !important;
	color: rgb(154, 154, 154) !important;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px inset, rgba(255, 255, 255, 0.01) 0px 0px 0px 1px, rgba(255, 255, 255, 0.01) 0px 1px 0px 0px !important;
	border-radius: 0px !important;
	text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 0px !important;
	border: 1px solid #000 !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
	padding-top: 5px !important;
	margin-bottom: 30px !important;
}

.panel.masonry-brick h3.title{
	color: rgb(154, 154, 154) !important;
}

.panel.masonry-brick a.link{
	margin-bottom: 5px !important;
}

.masonry a {
	color: #fff !important;
}

.js-chat-scroll {
	border-top: 1px solid rgba(0, 0, 0, 0.65);
}

#chat_line_list .line {
	padding-left: 5px !important;
	padding-right: 5px !important;
	margin-right: -10px !important;
	padding-top: 2px !important;
	padding-bottom: 3px !important;
	line-height: 18px !important;
}

#chat_line_list {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

#chat_line_list .highlight {
	color: rgba(255, 0, 0, 1);
	background-color: #000000 !important;
}

#right_col .content #chat_line_list .highlight {
	margin-left: 0px !important;
	padding-left: 0px !important;
	margin-right: 0px !important;
}

.mod_button {
	display: none;
}

.popout_chat .dropdown {
	background: rgb(30, 30, 30) url(../icons/dropdown_arrow.png) no-repeat right center !important;
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05), 0px 1px 0px rgba(0, 0, 0, 0.15) inset !important;
	color: rgb(170, 170, 170) !important;
	text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 0px !important;
}

.popout_chat #chat_viewers_dropmenu_button, 
.popout_chat #chat_settings_dropmenu_button,
.popout_chat #intervals {
	background: rgb(30, 30, 30);
	border: none !important;
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05), 0px 1px 0px rgba(0, 0, 0, 0.15) inset !important;
	border-top: 1px solid rgba(0,0,0,0.2) !important;
	border-left: 1px solid rgba(0,0,0,0.3) !important;
	border-right: 1px solid rgba(0,0,0,0.3) !important;
	border-bottom: 1px solid rgba(0,0,0,0.35) !important;
	height: 28px;
}

.popout_chat #intervals {
	vertical-align: bottom;
}

.popout_chat #chat_viewers_dropmenu_button .glyph_only {
	height: 18px;
	background: url(../icons/viewer_list.png) no-repeat center !important;
}

.popout_chat #chat_viewers_dropmenu_button img {
	display: none;
}

.popout_chat #chat_settings_dropmenu_button .glyph_only {
	height: 18px;
	background: url(../icons/chat_settings.png) no-repeat center !important;
}

.popout_chat #chat_settings_dropmenu_button img {
	display: none;
}

.popout_chat #intervals .glyph_only {
	height: 18px;
	background: url(../icons/chat_settings.png) no-repeat center !important;
}

/* ~~~~~~~~~~~~~Ember Chat~~~~~~~~~~~~~~~~ */

/* Chat Background */
.ember-chat .chat-messages {
	background-color: #000;
}

/* Chat Lines */
.ember-chat .chat-messages .chat-line {
	color: #fff;
	font-size: 18px !important;
	font-weight: bold;
	text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.4);
	word-wrap: break-word;
}

.ember-chat .ember-view .chat_lines .admin {
	font-size: 18px !important;
	font-weight: bold;
	text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.4);
}

/* Message Box */
.ember-chat .chat-interface{
	background-color: #000;
	border-top: 1px solid #000;
}
.ember-chat .chat-interface textarea {
	background-color: rgb(20, 20, 20);
	color: #D3D3D3;
	border-color: black;
}

/*Buttons*/
.ember-chat .chat-buttons-container .chat-option-buttons button {
	background: rgb(30,30,30);
	background-image: url(../icons/button_glyphs_new.png) !important;
	border: none !important;
	box-shadow: -6px 1px 0px rgba(255, 255, 255, 0.05), 0px 1px 0px rgba(0, 0, 0, 0.15) inset !important;
	border-top: 1px solid rgba(0,0,0,0.2) !important;
	border-left: 1px solid rgba(0,0,0,0.3) !important;
	border-right: 1px solid rgba(0,0,0,0.3) !important;
	border-bottom: 1px solid rgba(0,0,0,0.35) !important;
	height: 28px !important;
	width: 28px !important;
}

.ember-chat .chat-buttons-container .chat-option-buttons button.settings {
	background-position: 6px 6px !important;
}

.ember-chat .chat-buttons-container .chat-option-buttons button.viewers {
	background-position: 5px -39px !important;
}
/* Mod Icons */
.ember-chat .mod-icons {
	display: none;
}

/* White Bar Fix */
.ember-chat .chat-messages {
	bottom: 131px;
}

/* Text Area Fix */
.ember-chat .chat-interface .textarea-contain textarea {
	border: 1px solid #333;
}

/* Removing Header */
.chat-header.main-header{
	display: none;
}
.top-notification.room-invitation {
	display: none;
}
.chat-header.all-rooms-header {
	display: none;
}
.ember-chat .chat-room-list {
	padding-top: 0px;
}
.ember-chat .chat-room {
	top: 0px;
}