#large_nav .game_filter.selected a { 
    border-left: 4px solid #374a9b !important; 
}
#small_nav .game_filter.selected a {
    border-left: 3px solid #374a9b !important;
}
.button.primary,
.button-simple.primary,
.primary_button:hover,
a.js-follow.follow.button.primary.action:hover,
#subscribe_action .subscribe-text:focus,
.button.primary:hover,
#channel .stats-and-actions .follow-button a:hover,
.directory_header .follow-button a:hover,
.profile-info .follow-button a:hover,
#hostmode .channel-actions:hover,
.chat-room .moderation-card:hover { 
    background: linear-gradient(bottom, rgb(50,108,211) 31%, rgb(67,113,190) 80%) !important; 
    background: -o-linear-gradient(bottom, rgb(50,108,211) 31%, rgb(67,113,190) 80%) !important; 
    background: -moz-linear-gradient(bottom, rgb(50,108,211) 31%, rgb(67,113,190) 80%) !important; 
    background: -webkit-linear-gradient(bottom, rgb(50,108,211) 31%, rgb(67,113,190) 80%) !important; 
    background: -ms-linear-gradient(bottom, rgb(50,108,211) 31%, rgb(67,113,190) 80%) !important; 
} 
.button.primary,
.primary_button,
a.js-follow.follow.button.primary.action,
#dash_main #commercial_buttons #intervals,
#channel .stats-and-actions .follow-button a,
.directory_header .follow-button a,
.profile-info .follow-button a,
#hostmode .channel-actions,
.chat-room .moderation-card { 
    border-color: #000 !important;
    background: linear-gradient(bottom, rgb(47,88,185) 31%, rgb(50,108,211) 80%) !important; 
    background: -o-linear-gradient(bottom, rgb(47,88,185) 31%, rgb(50,108,211) 80%) !important; 
    background: -moz-linear-gradient(bottom, rgb(47,88,185) 31%, rgb(50,108,211) 80%) !important; 
    background: -webkit-linear-gradient(bottom, rgb(47,88,185) 31%, rgb(50,108,211) 80%) !important; 
    background: -ms-linear-gradient(bottom, rgb(47,88,185) 31%, rgb(50,108,211) 80%) !important; 
}
.onoff:before, .onoff.on:after {
    border-color: #000;
    background: linear-gradient(bottom, rgb(47,88,185) 31%, rgb(50,108,211) 80%); 
    background: -o-linear-gradient(bottom, rgb(47,88,185) 31%, rgb(50,108,211) 80%); 
    background: -moz-linear-gradient(bottom, rgb(47,88,185) 31%, rgb(50,108,211) 80%); 
    background: -webkit-linear-gradient(bottom, rgb(47,88,185) 31%, rgb(50,108,211) 80%); 
    background: -ms-linear-gradient(bottom, rgb(47,88,185) 31%, rgb(50,108,211) 80%);
}
#subscribe_action .subscribe-text {
    background: none;
}
#team_member_list .page_links a, .page_links span.next_page b, .page_links a.next_page b, #main_col .messages div.preview.unread {
    border-left-color: #374a9b !important;
}
#team_member_list .page_links a b.left {
    border-left-color: #374a9b !important;
}
#team_member_list .page_links a b.right, .page_links span.previous_page b, .page_links a.previous_page b {
    border-right-color: #374a9b !important;
} 
.ember-chat .chat-menu-button-container svg path, .button.unfollow .svg-check path, .button.unfollow .svg-x path, #is-subscribed svg path {
    fill: #2A4687 !important;
}
.dropmenu.menu-like .dropmenu_action:hover, .hostmode-title-container .hostmode-title .what {
    background-color: #2A4687 !important;
}

.ember-chat .chat-menu .chat-rooms .room:hover {
    background-color: #2A4687;
}

.line .staff, .line .oldstaff, .ember-chat .badges .staff, .ember-chat .badges .oldstaff {
    background-color: #06C;
}
/* mod card follow button text fix */
.ember-chat .moderation-card .interface .mod-card-follow {
    color: #ccc;
}
.ui-menu-item a:hover, .ember-chat .chat-interface .suggestions .highlighted {
    background-color: #06C;
}
.filter-list .filter-item:hover span {
    background: rgba(0,102,204,0.5);
}
.filter-list .filter-item span {
    background: rgba(0,102,204,0.65);
}
.filter-nav, .filter-nav:hover {
    background: #0073e6;
}
a.button.js-show-stream-key {
    color: black;
}
.sort-contain .sort-options li a:hover {
    background-color: #06c;
}
.ember-chat .moderation-card button.button {
    color:#ccc;
}

/* links on light interface are only black if blue buttons is enabled */
.member a {
    color: black;
}

a {
    color: black;
}

#site_header .normal_button, #site_header .large_normal_button, #site_header .dropdown, #site_header .dropdown_static, #site_header .dropdown_glyph {
    color: black;
}

.chat-menu.dropmenu a {
    color: black;
}

div#header_actions span, div#header_actions a {
    color: black;
}

div#header_actions a.primary span {
    color: white !important;
}

#main_col .stats-and-actions #is-subscribed, .button.unfollow, .button.unfollow:hover {
    color: #000 !important;
}
ul.tabs li>a, .directory_header .nav li>a, ul.tabs_fake li>a, .ember-chat .chat-room-list .room p.room-title, .dropmenu.menu-like .dropmenu_action  {
    color: #000;
}
.button.glyph svg path, .follow-button .glyph.follow svg path, .button.glyph-only svg path, .follow-button .glyph-only.follow svg path {
    fill: #144CA5;
}
.button, #channel .player-column #broadcast-meta .info .edit-link span {
    color: #144CA5;
}
.banner-contain .profile-info .profile-bio a, .banner-contain #change_profile_banner .add_image {
    color:#6E99DD
}
.twitch_subwindow_container {
    background-color: rgba(23, 23, 23, 0.9);
}
.banner-contain .channel-link .live-status.live {
    background: #305DD0;
}
.banner-contain .channel-link .live-status.live:before, .banner-contain .channel-link .live-status.live:after {
    box-shadow: 0 0 3px 1px #8EA1D2,inset 0 0 3px 1px #8EA1D2;
    -moz-box-shadow: 0 0 3px 1px #8EA1D2,inset 0 0 3px 1px #8EA1D2;
    -webkit-box-shadow: 0 0 3px 1px #8EA1D2,inset 0 0 3px 1px #8EA1D2;
}