h2 {
    font-size: 16px;
}

body.channel_new {
    overflow-y: hidden;
}

.member.live {
    background: #bdbcbc;
}

.member a {
    color: black;
}

.member.playing {
    background-color: #374a9b;
    border-color: #000000;
}

.ember-view .following-col .js-search-input {
    border-radius: 0px;
}

input.text:focus,select:focus,textarea:focus {
    outline: 0;
    background-color: #fff;
    box-shadow: 0 0 3px 1px #dad9d9;
    -moz-box-shadow: 0 0 3px 1px #dad9d9;
    -webkit-box-shadow: 0 0 3px 1px #dad9d9;
    border: 1px solid #000;
    color: #000;
}

.chat_line span, .chat-line .message span {
    padding-right: 8px !important;
}

#metagame a {
    color: white !important;
}

ul.tabs li.tab a {
    color: #262626;
}

ul.tabs li.selected a {
    color: #262626;
}

#header_banner img {
    width: 640px !important;
    height: 125px !important;
}

.dropmenu a, .ui-menu a, .ui-multiselect-menu a {
    color: white;
}

a {
    color: black;
}

.dropmenu.menu-like p.dropmenu_action .left, .menu-like.ui-menu p.dropmenu_action .left, .menu-like.ui-multiselect-menu p.dropmenu_action .left, .dropmenu.menu-like .compl_actn .left, .menu-like.ui-menu .compl_actn .left, .menu-like.ui-multiselect-menu .compl_actn .left, .ui-menu p.dropmenu_action .left, .ui-menu.ui-multiselect-menu p.dropmenu_action .left, .ui-menu .compl_actn .left, .ui-menu.ui-multiselect-menu .compl_actn .left {
    width: auto;
    height: auto;
}

.ember-chat .chat-messages {
    top: 0px;
    bottom: 134px;
}

/* New Channel Page */
#right_col:after {
    margin-left: -1px;
}

#large_nav .content .bottom .loggedin #user_display_name .unread_message_count {
    background-color: #374a9b;
}

#right_col .content {
    width: 100%;
}

#right_col .resizer {
    width: 5px;
    height: 100%;
    position: absolute;
    left: -2px;
    z-index: 9001;
    bottom: 0px;
    cursor: e-resize;
}

#right_col .top {
    background-color: #E5E5E5;
}

#small_nav .content ul #small_home a {
    background: url(../icons/logo_navbar_icons.png) no-repeat 0 0;
}

#small_nav .content ul #small_home a:hover {
    background: url(../icons/logo_navbar_icons.png) no-repeat 0px -50px;
}

/* Chat CSS */
.dropmenu a, .ui-menu a, .ui-multiselect-menu a {
    color: white;
}

input.text:focus,select:focus,textarea:focus {
    outline: 0;
    background-color: #fff;
    box-shadow: 0 0 3px 1px #dad9d9;
    -moz-box-shadow: 0 0 3px 1px #dad9d9;
    -webkit-box-shadow: 0 0 3px 1px #dad9d9;
    border: 1px solid #000;
    color: #000;
}

.chat_line a, .ember-chat .chat-line a {
    color: #005596;
}

#chat_line_list li .mod_button img, .ember-chat .mod-icons a {
    vertical-align: baseline;
    padding: 0px;
    margin-bottom: -5px;
}

.chat_line img, .ember-chat .message img {
    vertical-align: baseline !important;
}

.line .bot, .ember-chat .badges .bot {
    display: inline-block;
    text-indent: 21px;
    background-image: url(../../tags/bot.png);
    background-position: 0 center;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: bottom;
    height: 18px;
    min-width: 18px;
    width: expression(document.body.clientWidth < $width ? "18px":"auto");
    padding: 0;
    margin-bottom: 1px;
    text-indent: -9999px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    overflow: hidden;
}

.line .oldmod, .line .oldstaff, .line .oldadmin, .line .oldbroadcaster, .line .oldbot, .ember-chat .badges .oldmoderator, .ember-chat .badges .oldstaff, .ember-chat .badges .oldadmin, .ember-chat .badges .oldbroadcaster, .ember-chat .badges .oldbot {
    padding: 2px 3px;
    text-indent: none;
    color: white;
    font-size: 0.8572em;
    font-weight: bold;
    border-radius: 2px;
    display: inline !important;
}

.line .oldbot, .ember-chat .badges .oldbot {
    background-color: #666666;
}

.line .oldmod, .ember-chat .badges .oldmoderator {
    background-color: #009900;
}

.line .oldbroadcaster, .ember-chat .badges .oldbroadcaster {
    background-color: #000000;
}

.line .oldadmin, .ember-chat .badges .oldadmin {
    background-color: #FF0000;
}

.line .staff, .line .oldstaff, .ember-chat .badges .staff, .ember-chat .badges .oldstaff {
    background-color: #06C;
}

.line .bttvDeveloper, .ember-chat .badges .bttvDeveloper {
    background: url(../../tags/developer.png) no-repeat;
    padding-left: 12px !important;
    border-radius: 2px 2px 2px 2px;
    padding: 2px 3px;
    font-weight: bold;
    font-size: 0.8572em;
    color: white;
    display: inline !important;
}

.line .bttvSupporter, .ember-chat .badges .bttvSupporter {
    background: url(../../tags/supporter.png) no-repeat;
    padding-left: 12px !important;
    border-radius: 2px 2px 2px 2px;
    padding: 2px 3px;
    font-weight: bold;
    font-size: 0.8572em;
    color: white;
    display: inline !important;
}

.line .brown, .ember-chat .badges .brown {
    background-color: #6B4226;
    border-radius: 2px 2px 2px 2px;
    padding: 2px 3px;
    font-weight: bold;
    font-size: 0.8572em;
    color: white;
    display: inline !important;
}

.line .orange, .ember-chat .badges .orange {
    background-color: orange;
    border-radius: 2px 2px 2px 2px;
    padding: 2px 3px;
    font-weight: bold;
    font-size: 0.8572em;
    color: white;
    display: inline !important;
}

.line .lefty, .ember-chat .badges .lefty {
    background-color: red;
    background-image: url(../../tags/ca.gif);
    padding-left: 23px !important;
    border-radius: 2px 2px 2px 2px;
    padding: 2px 3px;
    font-weight: bold;
    font-size: 0.8572em;
    color: white;
    display: inline !important;
}

.line .bacon, .ember-chat .badges .bacon {
    background: url(../../tags/bacon.png) no-repeat;
    padding-left: 23px !important;
    border-radius: 2px 2px 2px 2px;
    padding: 2px 3px;
    font-weight: bold;
    font-size: 0.8572em;
    color: white;
    display: inline !important;
}

.line .taco, .ember-chat .badges .taco {
    background: url(../../tags/taco.png) no-repeat;
    padding-left: 23px !important;
    border-radius: 2px 2px 2px 2px;
    padding: 2px 3px;
    font-weight: bold;
    font-size: 0.8572em;
    color: white;
    display: inline !important;
}

.line .purple, .ember-chat .badges .purple {
    background-color: #4F007B;
    border-radius: 2px 2px 2px 2px;
    padding: 2px 3px;
    font-weight: bold;
    font-size: 0.8572em;
    color: white;
    display: inline !important;
}

.line .admin, .line .staff, .line .broadcaster, .line .mod, .line .turbo a, .line .subscriber a, .ember-chat .badges .badge, .ember-chat .badges .badge a {
    margin-bottom: 1px;
    border-radius: 2px;
}

.line .tag.alpha, .ember-chat .badges .badge.alpha {
    background-color: transparent;
}

.line .tag.invert, .ember-chat .badges .badge.invert {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'invert\'><feColorMatrix in='SourceGraphic' type='matrix' values='-1 0 0 0 1 0 -1 0 0 1 0 0 -1 0 1 0 0 0 1 0'/></filter></svg>#invert");
    filter: invert(100%);
    -webkit-filter: invert(100%);
    -o-filter: invert(100%);
    -ms-filter: invert(100%);
    -moz-filter: invert(100%);
}

.line .tag.alpha a, .ember-chat .badges .badge.alpha a {
    background-color: transparent;
}

#chat_line_list .line p {
    margin-right: 10px;
    width: -moz-calc(100% - 49px);
    width: -webkit-calc(100% - 49px);
    width: calc(100% - 49px);
}

#chat_line_list {
    padding-top: 0px !important;
}

.emoticon {
    vertical-align: baseline !important;
}

#chat_line_list .highlight, .chat-messages .chat-line.highlight {
    color: #000 !important;
    padding-top: 5px;
    background-color: rgba(255, 0, 0, 0.5) !important;
}

.chat-messages .chat-line.highlight .from {
    color: #000 !important;
}

#right_col #chat_line_list .highlight {
    margin-left: -10px;
    padding-left: 5px;
    margin-right: -5px;
}

#main_col .stats-and-actions .channel-following span {
    background: url(../icons/following_button_check.png) no-repeat 5px center;
}

#main_col .stats-and-actions .channel-following:hover span {
    background-image: url(//www-cdn.jtvnw.net/images/xarth/following_button_x.png);
}

.more-archives.bottom:hover {
    color: #222 !important;
}

.more-archives.bottom {
    color: #222 !important;
}

#user_info .chat_menu_action {
    color: #fff !important;
}

#bttvSettingsPanel {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -400px;
    color: #D3D3D3;
    width: 800px;
    height: 500px;
    z-index: 9002;
    border-radius: 3px;
    border: 1px solid #000;
    background-color: #1e1e1e;
    box-shadow: -1px 0 0 rgba(0,0,0,0.3), -2px 0 0 rgba(0,0,0,0.2), -3px 0 0 rgba(0,0,0,0.1),
                1px 0 0 rgba(0,0,0,0.3), 2px 0 0 rgba(0,0,0,0.2), 3px 0 0 rgba(0,0,0,0.1),
                0 -1px 0 rgba(0,0,0,0.3), 0 -2px 0 rgba(0,0,0,0.2), 0 -3px 0 rgba(0,0,0,0.1),
                0 1px 0 rgba(0,0,0,0.3), 0 2px 0 rgba(0,0,0,0.2), 0 3px 0 rgba(0,0,0,0.1);
}

#bttvSettingsPanel #header {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #282828;
    width: 100%;
    border-bottom: 1px solid #111;
}

#bttvSettingsPanel #footer {
    color: #777;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #282828;
    bottom: 0px;
    position: absolute;
    width: -moz-calc(100% - 10px);
    width: -webkit-calc(100% - 10px);
    width: calc(100% - 10px);
    padding: 5px;
    border-top: 1px solid #111;
}

#bttvSettingsPanel #footer a {
    color: #ff0000;
    opacity: 0.7;
    font-weight: bold;
}

#bttvSettingsPanel #logo {
    padding: 10px;
    vertical-align: bottom;
    text-shadow: 1px 1px 3px #000;
    font-size: 25px;
    font-family: "Korolev-Bold","HelveticaNeue-CondensedBold","ArialNarrow-Bold","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#bttvSettingsPanel #close {
    font-size: 30px;
    vertical-align: center;
    float: right;
    right: 20px;
    top: 0px;
    position: absolute;
    color: #fff;
    text-shadow: 0 1px 0 #000;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

#bttvSettingsPanel #close:hover, #bttvSettingsPanel #close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

#bttvSettingsPanel #bttvSettings {
    font: 12px "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#bttvSettingsPanel .option {
    color: #999;
    line-height: 30px;
    width: -moz-calc(100% - 20px);
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
    background-color: rgb(30, 30, 30);
    border-bottom: 1px solid rgb(0, 0, 0) !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 3px !important;
    padding-bottom: 2px !important;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.04) inset !important;
}

#bttvSettingsPanel .option:nth-child(2n) {
    background-color: rgb(35, 35, 35);
}

#bttvSettingsPanel .option a {
    color: #D3D3D3;
}

#bttvSettingsPanel .nav {
    list-style: none;
    display: inline-block;
    margin: 0 10px 0 0;
    vertical-align: middle;
}

#bttvSettingsPanel .nav > li {
    float: left;
    line-height: 18px;
}

#bttvSettingsPanel .nav > li > a {
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 15px;
    color: #adafae;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-decoration: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-family: "Korolev-Bold","HelveticaNeue-CondensedBold","ArialNarrow-Bold","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: normal;
}

#bttvSettingsPanel .nav > li > a:hover, #bttvSettingsPanel .nav > .active > a, #bttvSettingsPanel .nav > .active > a:hover {
    border-bottom: 1px solid #ff0000;
    color: #D3D3D3;
}

#bttvSettingsPanel #bttvAbout .aboutHalf {
    width: -moz-calc(50% - 30px);
    width: -webkit-calc(50% - 30px);
    width: calc(50% - 30px);
    display: inline-block;
    float: left;
    background-color: rgb(35, 35, 35);
    border-radius: 3px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    height: 395px;
}

#bttvSettingsPanel #bttvAbout .aboutHalf a {
    color: #888;
}

#bttvSettingsPanel #bttvAbout .aboutHalf p {
    text-align: left;
    text-indent: 18px;
}

#bttvSettingsPanel h1 {
    font-size: 26px;
    color: #D3D3D3;
}

#bttvSettingsPanel #bttvAbout .aboutHalf .bttvAboutIcon {
    margin-top: 90px;
}

#bttvSettingsPanel #bttvPrivacy .tse-content, #bttvSettingsPanel #bttvChangelog .tse-content {
    padding: 15px;
}

#bttvSettingsPanel #bttvPrivacy ul, #bttvSettingsPanel #bttvPrivacy p, #bttvSettingsPanel #bttvChangelog ul {
    padding-left: 10px;
}

#bttvSettingsPanel #bttvPrivacy strong {
    margin-left: -5px;
}

#bttvSettingsPanel #bttvPrivacy p {
    padding-top: 10px;
}

#chat_line_list, .ember-chat .chat-messages {
    font-size: 13.33333px;
    line-height: 17.33333px;
}

#bttvSettingsPanel .scroll-dark .tse-scrollbar .drag-handle {
    width: 7px;
}

.bttv-mod-card .interface button {
    margin-top: 5px;
}

.switch {
  position: relative;
  float: right;
  right: 7px;
  height: 26px;
  width: 120px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 58px;
  line-height: 26px;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.35);
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}
.switch-label:active {
  font-weight: bold;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}

/*
 * Note: using adjacent or general sibling selectors combined with
 *       pseudo classes doesn't work in Safari 5.0 and Chrome 12.
 *       See this article for more info and a potential fix:
 *       http://css-tricks.com/webkit-sibling-bug/
 */
.switch-input {
  display: none;
}
.switch-input:checked + .switch-label-on {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.65);
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}
.switch-input:checked + .switch-label-off {
  font-weight: bold;
  color: #D3D3D3;
  text-shadow: 0 1px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 60px;
  /* Note: left: 50% doesn't transition in WebKit */
}
.switch-input:checked + .switch-label-off ~ .switch-selection {
  background: #111;
  box-shadow: none;
}

.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: 58px;
  height: 22px;
  background: #65bd63;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, #C54E4E, #AB2525);
  background-image: -moz-linear-gradient(top, #C54E4E, #AB2525);
  background-image: -o-linear-gradient(top, #C54E4E, #AB2525);
  background-image: linear-gradient(to bottom, #C54E4E, #AB2525);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
.switch-off {
  color: #D3D3D3;
}

#dash_main #chat #chat_lines {
    height: 500px;
}

#dash_main #delay_controls {
    width: 380px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
}

#dash_main .ui-slider-horizontal {
    background: none !important;
    margin-left: 10px;
    margin-right: 10px;
}

#dash_main #chat {
    width: 500px;
    float: right;
    right: 20px;
    position: absolute;
    top: 0px;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-left: 0px !important;
    z-index: 9001;
}

#dash_main iframe {
    border: none;
    width: 525px;
    float: right;
    right: 20px;
    position: absolute;
    background-color: #f1f1f1;
    border-radius: 4px;
    margin-left: 0px !important;
    z-index: 9001;
}

#dash_main .grid, .flex_grid {
    float: none;
}

#dash_main #vod_form, #dash_main #stats {
    width: 380px;
    padding: 10px;
}

#dash_main #vod_form {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#dash_main #stats {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#dash_main #player_column {
    height: 260px;
    width: 400px;
    border-radius: 5px;
}

#dash_main #player_overlay {
    border-radius: 5px;
}

#dash_main #video_player {
    height: 260px !important;
    width: 400px;
}

#dash_main #video_player.hidden {
    display: none !important;
}

#dash_main #stats .stat#channel_subs_count {
    padding-left: 18px;
    background: url(//www-cdn.jtvnw.net/images/xarth/g/g18_star-00000080.png) no-repeat left center;
}

#dash_main #stats .stat#chatters_count {
    padding-left: 18px;
    margin: 0 6px;
    background: url(../icons/chatters_dark.png) no-repeat left center;
}

#dash_main #stats .stat#followers_count {
    margin-right: 6px;
}

.normal_button, .large_normal_button, .dropdown, .dropdown_static, .dropdown_glyph, .primary_button, button.primary, #left_close, #right_close {
    border-radius: 2px !important;
    font-weight: bold;
}

.ember-chat .chat-interface .chat-buttons-container .send-chat-button {
    width: 200px;
    float: right;
    left: auto;
    right: 0px;
    display: inline;
    top: 0px;
    position: auto;
}

#site_header .normal_button, #site_header .large_normal_button, #site_header .dropdown, #site_header .dropdown_static, #site_header .dropdown_glyph {
    color: black;
}

input, textarea, select {
    border-radius: 2px;
}

.tga_modal {
    position: absolute;
    top: 1px;
    height: 550px;
    z-index: 100;
}

.viewers_box .list {
    height: 490px !important;
}

.bttvSettingsIcon {
    background: url(../icons/bttv_settings.png) no-repeat 0 0px;
}

.bttvSettingsIcon:hover {
    background: url(../icons/bttv_settings.png) no-repeat -18px 0px;
}

.xbox_button {
    display: none !important;
}

.segmented_tabs {
    width: 321px;
}

#sub-button {
    display: none !important;
}

#right_col #sub-link {
    display: none !important;
}

.fromtwitchnotify {
    opacity: 0.5;
}

#chat_line_list .line p .chat_line, .ember-chat .chat-messages .chat-line {
    word-break: break-word;
    padding-top: 5px;
    margin-top: inherit;
}

#chat_line_list li .nick, , .ember-chat .chat-messages .from {
    text-transform: none !important;
    word-break: break-all;
}

#bttvTranscodes {
    margin-bottom: 20px;
}

/* Gritter */

/* the norm */
#gritter-notice-wrapper {
    position:fixed;
    top:20px;
    right:20px;
    width:301px;
    z-index:9999;
}

#gritter-notice-wrapper.top-left {
    left: 20px;
    right: auto;
}

#gritter-notice-wrapper.bottom-right {
    top: auto;
    left: auto;
    bottom: 20px;
    right: 20px;
}

#gritter-notice-wrapper.bottom-left {
    top: auto;
    right: auto;
    bottom: 20px;
    left: 20px;
}

.gritter-item-wrapper {
    position:relative;
    margin:0 0 10px 0;
}

.gritter-item {
    background-color: rgba(0,0,0,0.8);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-8 */
    color:#fff;
    padding:15px;
    font-size: 11px;
    -webkit-border-radius: 4px !important;
       -moz-border-radius: 4px !important;
            border-radius: 4px !important;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.25);
       -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.25);
            box-shadow: 0px 1px 1px rgba(0,0,0,0.25);
}

.gritter-item p {
    padding:0;
    margin:0;
    word-wrap:break-word;
}

.gritter-close {
    display:none;
    position:absolute;
    top:5px;
    right:5px;
    cursor:pointer;
    width:12px;
    height:12px;
    background: url(../icons/close_button_white.png);
    opacity: .6;
  
}

.gritter-title {
    font-size:14px;
    font-weight:bold;
    padding:0 0 7px 0;
    display:block;
    text-shadow:1px 1px 0 #000; /* Not supported by IE :( */
}

.gritter-image {
    width:48px;
    height:48px;
    float:left;
    margin: -5px 5px 5px -5px;
}

.gritter-with-image,
.gritter-without-image {
    padding:0;
}

.gritter-with-image {
    width:220px;
    float:right;
}

/* for the light (white) version of the gritter notice */
.gritter-light .gritter-item {
    background-color: rgba(255,255,255,0.8);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccFFFFFF', endColorstr='#ccFFFFFF',GradientType=0 ); /* IE6-8 */
    color: #646464 !important;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.25);
       -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.25);
            box-shadow: 0px 1px 1px rgba(0,0,0,0.25);
}

.gritter-light .gritter-close {
    background: url(../icons/close_button.png);
}


.gritter-light .gritter-title {
    color: #646464 !important;
    text-shadow: none !important;
}

.chat_menu_btn {
    margin-top: 3px;
}

#header_logo:hover, #large_nav .content .top #logo:hover {
    text-decoration: none !important;
}

#bttvChatPaused {
    position: absolute;
    float: left;
    z-index: 1;
    color: red;
    background-color: #E5E5E5;
    right: 0px;
    padding: 2px 5px;
    border-left: 1px solid rgba(0, 0, 0, 0.247059);
    border-bottom: 1px solid rgba(0, 0, 0, 0.247059);
    white-space: nowrap;
}

/* Fix Chat Popout/Iframe Scrolling Issue */
body#chat #twitch_chat {
    padding: 0px !important;
}

body#chat #speak {
    padding-left: 5px;
    padding-right: 5px;
}

/* Mod Card */

.ember-chat .moderation-card h3.name {
    font-size: 18px;
}

.ember-chat .moderation-card .button-simple {
    cursor: pointer;
    line-height: 30px;
    padding: 0 10px;
    font-size: 12px;
    color: #262626;
    background: #c4c3c3;
    border: 0;
    margin: 2px 0px;
}

.ember-chat .moderation-card .mod-controls button img {
    margin: 6px 0px;
}

.ember-chat .moderation-card .interface {
    display: inline-block;
    width: 100%;
}

.ember-chat .moderation-card .button-simple.dark {
    background: #c4c3c3;
    color: #262626;
}

.ember-chat .moderation-card .mod-controls button {
    vertical-align: top;
}

.tipsy {
    z-index: 9000000001 !important;
    white-space: nowrap;
}

/* Group Chat changed textarea */
.ember-chat .chat-interface .textarea-contain {
    top: 10px;
    left: 10px;
    right: 10px;
}

.ember-chat .chat-interface .chat-buttons-container {
    top: 85px;
    left: 10px;
    right: 10px;
    bottom: auto;
}

.ember-chat .chat-interface .chat-buttons-container .chat-option-buttons button:first-child {
    margin-right: 3px;
}

#chat_emote_dropmenu_button.newlayout {
    margin-left: 3px !important;
}

/* Canvas Channel Backgrounds */
#channel #custom-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Redesign Hot-Fixes */
#chat_emote_dropmenu_button.newlayout {
	background-repeat: no-repeat;
}

.ember-chat .chat-buttons-container .chat-option-buttons button {
	border: none!important;
	height: 28px!important;
	width: 28px!important;
}
.ember-chat .chat-menu .chat-top-header{
	border-bottom: 0px solid;
	margin: 0px;
}
#small_nav .content ul li .home_icon svg path{
	display: none;
}
.chat-menu.dropmenu a {
	color: black;
}
.normal_button.active, .normal_button {
	background: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	background-color:none;
}
#channel .player-column .stats-and-actions .channel-stats {
    font-size: 12px;
}
.ember-chat .chat-header{
    right: 0px;
    left: 0px;
    width: 100%;
}

.ember-chat .chat-menu .list-header {
    margin: 0px;
    padding-top: 0px;
    padding: 15px;
}

.ember-chat .top-notification {
    left: 0px;
    right: 0px;
}
.ember-chat .chat-menu-button-container.right {
    right:0px;
}
.ember-chat .chat-menu-button-container.left {
left: 0px;
}
.ember-chat .chat-messages .chat-line.admin {
    margin: 0;
}

.archives-contain .more-archives {
    margin: 0 !important;
    width: 100%;
}

div#header_actions span, div#header_actions a{
    color: black;
}

.archives-contain .videos { 
    padding:0;
}
.archives-contain .list-video {
    padding: 10px 10px;
}
span.mod-controls {
    display: inline-block;
}