.popover {
  height: 412px;
  margin-top: -28px !important;
  margin-left: 8px !important;
  width: 390px;
  color: #efeff1;

  div[class$='-popover-arrow'] {
    display: none !important;
  }
}

@media only screen and (max-width: 400px) {
  .popover {
    width: 320px;
  }
}

@media only screen and (max-width: 510px) {
  .popover {
    margin-top: -12px !important;
    margin-left: 6px !important;
  }
}

.placeholder {
  height: 15px;
}
