.popover {
  height: 412px;
  margin-left: 6px;
  width: 390px;

  div[class$='-popover-arrow'] {
    display: none !important;
  }
}

@media only screen and (max-width: 400px) {
  .popover {
    width: 320px;
  }
}

.placeholder {
  height: 15px;
}
