.emote {
  width: 36px;
  height: 36px;
  position: relative;
  border-radius: 4px;
}

.emoteImage {
  width: 100%;
  max-height: 100%;
  padding: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.emote:hover {
  background-color: #5a5a5c;
  transition: 0.15s ease-out 0.05s;
}

.emote:focus {
  background-color: #464647;
}

.emote:focus-visible {
  outline: 0px;
}
