.emotesContainer {
  width: 100%;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

.emotesContainer::-webkit-scrollbar {
  border-radius: 6px;
  width: 5px;
}

.emotesContainer::-webkit-scrollbar-thumb {
  background: #191c23;
  border-radius: 5px;
}

.emotesContainer::-webkit-scrollbar-thumb:hover {
  background: #191c23;
}

.divider {
  margin: 0px;
}

.emote {
  width: 36px;
  height: 36px;
  position: relative;
  border-radius: 5px;

  img {
    max-height: 100%;
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .placeholder {
    width: 100%;
    height: 100%;
    background-color: #292d33;
    filter: brightness(85%);
    border-radius: 5px;
  }
}

.emote:hover {
  background-color: #6a6a6c;
}

.emote:focus {
  background-color: #616163;
}

.emote:focus-visible {
  outline: 0px;
}

.header {
  width: 100%;
  height: 30px;
  position: sticky;
  top: 0;
  background-color: #292d33;
  z-index: 3000;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 12px;
  column-gap: 8px;
}

.row {
  display: flex;
  justify-content: left;
  margin-left: 8px;
  width: 100%;
}

.icon {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
}
