.emotesContainer {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  padding: 0px 8px;
}

.emotesContainer::-webkit-scrollbar {
  border-radius: 8px;
  width: 4px;
}

.emotesContainer::-webkit-scrollbar-thumb {
  background: #191c23;
  border-radius: 8px;
}

.emotesContainer::-webkit-scrollbar-thumb:hover {
  background: #191c23;
}

.divider {
  margin: 0px;
}

.header {
  background-color: #292d33;
  z-index: 3000;
  display: flex;
  align-items: center;
  justify-content: left;
  column-gap: 8px;
}

.row {
  display: flex;
  justify-content: left;
  width: 100%;
}

.empty {
  display: flex;
  margin-top: 16px;
  align-items: center;
  width: 100%;
  flex-direction: column;
  row-gap: 8px;
}

.emotesContainer {
  width: 100%;
  padding: 0 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #191c23 transparent;
}

.emotesContainer::-webkit-scrollbar {
  border-radius: 6px;
  width: 5px;
}

.emotesContainer::-webkit-scrollbar-thumb {
  background: #191c23;
  border-radius: 5px;
}

.emotesContainer::-webkit-scrollbar-thumb:hover {
  background: #191c23;
}

.headerText {
  font-weight: 600;
  font-size: 11px;
  opacity: 0.8;
}
