.button {
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 20px;
  width: 20px;
  filter: grayscale(100%);
  opacity: 0.9;
  float: left;
  margin: 5px;
  background-image: url(assets/icons/legacy_smile.svg) !important;
}

.popover {
  height: 412px;
  margin-top: -80px !important;
  margin-left: 82px !important;
  width: 390px;
  color: #efeff1;

  div[class$='-popover-arrow'] {
    display: none !important;
  }
}

@media only screen and (max-width: 400px) {
  .popover {
    width: 320px;
  }
}

@media only screen and (max-width: 510px) {
  .popover {
    margin-top: -58px !important;
    margin-left: 60px !important;
  }
}
