.button {
  all: unset;
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 20px;
  width: 20px;
  filter: grayscale(100%);
  opacity: 0.9;
  float: left;
  background-image: url(assets/icons/legacy_smile.svg) !important;
}

.button:hover {
  filter: grayscale(0%);
  transition: ease-in-out 0.2s;
}
