.emoteContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: none;
  border-radius: 2px;
  font-size: 14px;

  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

.emote {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.active {
  background-color: var(--bttv-rs-btn-default-bg) !important;
}
