.emoteContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  font-size: 12px;
  transition: none;
}

.emote {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.emoteCode {
  padding: 4px;
}

.active {
  background-color: var(--bttv-rs-btn-default-bg) !important;
}
