.panel {
  padding: 20px;
  border: 1px solid var(--mantine-color-default-border);
  box-shadow: var(--mantine-shadow-xs);
  border-radius: var(--mantine-radius-lg);
  background-color: var(--mantine-color-body);
}

.panelContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.panelHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

@media (max-width: 800px) {
  .panel {
    border-radius: var(--mantine-radius-md);
  }
}
