.tooltip {
  font-size: var(--mantine-font-size-md);
}

.card {
  position: relative;
  width: 100%;
  min-height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: var(--mantine-radius-lg);
  transition:
    outline 100ms ease-in-out,
    background 120ms ease,
    border-color 120ms ease;
  color: var(--mantine-color-dimmed);
  border: 1px solid var(--mantine-color-default-border);
  background: var(--mantine-color-body);
}

.card:hover:not([data-locked='true']):not([data-checked='true']) {
  background: var(--mantine-color-elevated-hover);
}

.card:active:not([data-locked='true']):not([data-checked='true']) {
  background: var(--mantine-color-elevated-active);
}

.card[data-checked='true'] {
  color: var(--mantine-primary-color-3);
  border: 1px solid var(--mantine-color-body-secondary);
  outline: 2px solid var(--mantine-primary-color-3);
  background: var(--mantine-primary-color-light);
}

.card[data-checked='true']:hover {
  background: var(--mantine-primary-color-light-hover);
}

.card[data-checked='true']:active {
  background: var(--mantine-primary-color-light-active);
}

.iconIndicator {
  position: absolute;
  top: 8px;
  right: 8px;
  opacity: 0;
  color: currentColor;
  scale: 0;
  width: 20px;
  height: 20px;
  transition: all 100ms ease-in-out;
}

.card[data-checked='true'] .checkIcon {
  opacity: 1;
  scale: 1;
}
