.root {
  padding: var(--setting-panel-padding, 20px) !important;
  display: flex;
  align-items: center;
  gap: 20px;
}

.shouldWrap {
  flex-wrap: wrap;
}

.vertical {
  flex-direction: column-reverse;
  align-items: flex-start;
}

.reverse {
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: fit-content;
  margin-right: auto;
}

.title {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* shown next to the setting name when it requires the user's attention */
.warningIconContainer {
  display: flex;
}

.warningIcon {
  width: 18px;
  height: 18px;
  color: var(--mantine-color-yellow-5);
}

.description {
  margin: 0;
}

@media (max-width: 800px) {
  .shouldWrap .control {
    width: 100%;
  }
}
