.chat-line__message.bttv-split-chat-alt-bg,
.vod-message.bttv-split-chat-alt-bg {
  background-color: #dcdcdc;
}

.dark-theme {
  .chat-line__message.bttv-split-chat-alt-bg,
  .vod-message.bttv-split-chat-alt-bg {
    background-color: #1f1925;
  }
}
