.chat-line__message.bttv-split-chat-alt-bg, .vod-message.bttv-split-chat-alt-bg {
  background-color: #dcdcdc;
}

.tw-root--theme-dark {
  .chat-line__message.bttv-split-chat-alt-bg, .vod-message.bttv-split-chat-alt-bg {
    background-color: #1f1925;
  }
}
