.chat-line__message.bttv-split-chat-alt-bg,
.vod-message.bttv-split-chat-alt-bg {
  background-color: #dcdcdc;
}

.tw-root--theme-dark {
  .chat-line__message.bttv-split-chat-alt-bg,
  .vod-message.bttv-split-chat-alt-bg {
    background-color: #1f1925;
  }
}

section[data-test-selector='chat-room-component-layout'] .simplebar-track.vertical {
  z-index: 2;
}
