.emote {
  position: relative;
  border-radius: 4px;
  padding: 4px;
  display: flex;
  align-items: center;
  background-color: initial;
  border: none;

  &:focus {
    background-color: #464647;
  }

  &:focus-visible {
    outline: 0px;
  }
}

.emoteImage {
  width: 28px;
  height: 28px;
  object-fit: contain;
}

.active {
  background-color: #5a5a5c;
}

.placeholder {
  background-color: #23262b;
}
