.popover {
  height: 412px;
  margin-top: -80px !important;
  margin-left: 80px !important;
  width: 390px;
  color: #efeff1;
  overflow: hidden;

  div[class$='-popover-arrow'] {
    display: none !important;
  }
}

.withTip {
  height: 438px;
}

@media only screen and (max-width: 400px) {
  .popover {
    width: 320px;
  }
}

@media only screen and (max-width: 510px) {
  .popover {
    margin-top: -60px !important;
    margin-left: 60px !important;
  }
}
