.emote {
  position: relative;
  border-radius: 4px;
  padding: 4px;
  display: flex;
  align-items: center;
  background-color: initial;
  border: none;

  &:focus {
    background-color: var(--mantine-primary-color-light-active);
    transition-property: background-color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
  }

  &:focus-visible {
    outline: 0px;
  }
}

.active {
  background-color: var(--mantine-primary-color-light-hover);
}

.placeholder {
  background-color: var(--mantine-color-body-secondary);
}
