.emoteListRoot {
  display: flex;
  flex-direction: column;
}

.listViewport {
  flex: 1;
  min-height: 0;
  min-width: 0;
}

.emotesContainer {
  flex: 1;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
