.popover {
  height: 402px;
  width: 390px;
  color: #efeff1;
  overflow: hidden;
  margin: 0 !important;

  div[class$='-popover-arrow'] {
    display: none !important;
  }
}

.withTip {
  height: 430px;
}

@media only screen and (max-width: 400px) {
  .popover {
    width: 320px;
  }
}
