.popover {
  height: 402px;
  width: 390px;
  color: #efeff1;
  overflow: hidden;
  margin: 0 !important;

  div[class$='-popover-arrow'] {
    display: none !important;
  }

  div[class$='-popover-content'] {
    display: flex;
  }
}

.withTip {
  height: 430px;
}

@media only screen and (max-width: 400px) {
  .popover {
    width: 320px;
  }
}

.resizeHandle {
  position: absolute;
  width: 2px;
  bottom: 0;
  top: 0;
  left: 0;
  cursor: col-resize;
  z-index: 2;
}

.emoteMenu {
  flex: 1;
}
