.emote {
  position: relative;
  border-radius: 4px;
  padding: 4px;
  display: flex;
  align-items: center;
  background-color: initial;
  border: none;

  &:focus {
    background-color: #464647;
  }

  &:focus-visible {
    outline: 0px;
  }
}

.active {
  background-color: var(--bttv-rs-state-hover-bg);
}

.placeholder {
  background-color: var(--bttv-rs-bg-card);
}
