.empty {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  row-gap: 8px;
  justify-content: center;
  padding: 24px 16px;
  text-align: center;

  .emptyIcon {
    width: 24px;
    height: 24px;
  }
}

.emptyText {
  max-width: 280px;
}
