.input {
  font-size: var(--mantine-font-size-lg);
  height: 36px;
}

.root {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 8px;
  background-color: var(--mantine-color-body);
}

.closeButton {
  min-width: 36px;
  min-height: 36px;

  svg {
    max-width: 24px;
    max-height: 24px;
  }
}
