.icon {
  object-fit: contain;
  width: 100%;
  height: 100%;
  max-width: 20px;
  max-height: 20px;
}

.brandedImage {
  position: relative;
}

.iconBorderRadius {
  border-radius: 4px;
}

.brandIcon {
  position: absolute;
  right: -2px;
  bottom: -2px;
  width: 12px;
  height: 12px;
  object-fit: contain;
  border-radius: 2px;
}
