.button {
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 18px;
  width: 18px;
  filter: grayscale(100%);
  opacity: 0.9;
  float: left;
  padding: 15px;
  border-radius: var(--border-radius-medium);
  background-image: url(assets/icons/legacy_smile.svg) !important;

  &:hover {
    background-color: var(--color-background-button-text-hover);
    color: var(--color-fill-button-icon-hover);
  }
}
