.button {
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 18px;
  width: 18px;
  filter: grayscale(100%);
  opacity: 0.9;
  float: left;
  padding: 15px;
  background-image: url(assets/icons/legacy_smile.svg) !important;
}
