.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 48px;
  min-width: 48px;
  border-right: 1px solid var(--mantine-color-default-border);
}

.content {
  overflow-y: scroll;
  overscroll-behavior: none;
  background-color: var(--mantine-color-body);
  scrollbar-width: none;
  width: 48px;
}

.content::-webkit-scrollbar {
  display: none;
}

.navItem svg {
  margin: 0 !important;
  width: 100%;
}

.navItem {
  padding: 6px 12px;
  cursor: pointer;
  box-sizing: border-box;
  height: 36px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--mantine-color-text);

  transition-property: background-color;
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
}

.navItem svg {
  width: 14px;
  height: 14px;
}

.navItem:active {
  background-color: var(--mantine-primary-color-light-active);
}

.navItem[data-draggable] {
  cursor: grab;
}

.navItem[data-draggable].dragging {
  cursor: grabbing;
}

.active {
  background-color: var(--mantine-primary-color-light);
  border-right: 2px solid var(--mantine-primary-color-light-color);
  color: var(--mantine-primary-color-light-color);
}

.dragging {
  background-color: var(--mantine-color-body-secondary);
}

.active {
  padding-right: 10px;
}

.dragging {
  border-radius: 4px;
  display: flex;
  padding: 6px 12px;
  border-right: none !important;
}

.portal {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.static {
  transform: none !important;
}

.emojiButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--mantine-color-body);
  width: 48px;
  height: 48px;
  position: absolute;
  cursor: pointer;
  box-sizing: border-box;
  border-top: 1px solid var(--mantine-color-default-border);
}

.emojiButton:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--mantine-primary-color-light-hover);
}

.emojiButton:active::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--mantine-primary-color-light-active);
}

.emojiButtonEmote {
  width: 24px;
  height: 24px;
  z-index: 1;
  transition-property: scale;
  transition: 0.2s ease-in-out;
}

.emojiButton:hover .emojiButtonEmote {
  scale: 1.1;
}

.emojiButton:active .emojiButtonEmote {
  scale: 0.9;
}

.emojiButtonHidden {
  bottom: -48px;
  transition: 0.2s ease-in-out;
}

.emojiButtonVisible {
  bottom: 0;
  transition: 0.2s ease-in-out;
}

.hidden {
  display: none;
}
