.divider {
  margin: 0;
}

.tip {
  background-color: var(--mantine-primary-color-light);
  border: 1px solid var(--mantine-primary-color-light-hover);
  border-bottom-left-radius: var(--mantine-radius-lg);
  border-bottom-right-radius: var(--mantine-radius-lg);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 8px;
  padding: 4px 8px;
  font-weight: 500;
}

.tipIcon {
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  svg {
    width: 14px;
    height: 14px;
  }
}

.textButton {
  padding: 0;
}

.closeButton {
  width: 32px;
  height: 32px;
  margin-left: auto;
}
