.emote {
  white-space: normal;
  padding: 0px !important;
  padding-inline: 0px !important;
  padding-block: 8px !important;
  max-width: 360px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
  min-height: 0;
  width: 100%;
  gap: 8px;
}

.details {
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

.name {
  width: 100%;
  font-weight: 700;
  text-align: center;
}

.provider,
.channel {
  width: 100%;
  font-weight: 500;
  color: var(--mantine-color-dimmed-inverse);
  text-align: center;
}

.imageWrapper {
  display: inline-block;
  overflow: hidden;
  border-radius: var(--mantine-radius-sm);
  margin-inline: 8px;
  max-width: calc(100% - 16px);
  line-height: 0;
}

.image {
  display: block;
  height: auto;
  width: auto;
  max-height: 112px;
  max-width: 100%;
  object-fit: contain;
}
