.emoteImage {
  width: 28px;
  height: 28px;
  object-fit: contain;
  cursor: pointer;
}

.placeholder {
  border-radius: var(--mantine-radius-md);
  background-color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-6));
}

.emoteImageLocked {
  opacity: 0.4;
}

.lockedEmote {
  position: relative;
  width: 28px;
  height: 28px;
}

.lockIcon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 12px;
  height: 12px;
  padding: 2px;
  object-fit: contain;
  color: var(--mantine-color-text);
}

.lock {
  position: relative;
  width: 100%;
  height: 100%;
}
