/* darken most things */
body.dark, body.dark #clips-app-root {
    background: rgb(30,30,30);
    color: #d3d3d3;
}

/* removes scroll bar on clip page */
.whole-wrapper {
    height:100vh;
}

/* dark links */
.dark a {
    color: #888;
}

/* darken header */
.dark .nav.js-navigation {
    background: #333;
    border-bottom: 1px solid #444;
}

/* make header username more readable */
.dark .clips-nav__username .button.button--text span {
    color: #d3d3d3;
}

/* darken header dropdown menu*/
.dark .clips-nav__username .balloon--dropmenu, .dark .clips-nav__username .balloon--dropmenu:after {
    background: #333;
}

/* header dropdown menu text */
.dark .clips-nav__username .balloon--dropmenu span {
    color: #d3d3d3;
}

/* darken tabs bottom border */
.dark .tabs {
    box-shadow: inset 0 -1px 0 #666;
}

.dark .tabs__item {
    box-shadow: inset 0 -1px 0 #777;
}

/* bring back the purple */
.dark .tabs__item:hover, .dark .tabs__item.tabs__item--active {
    box-shadow: inset 0 -1px 0 #6441a5;
}

.dark .table__header .table__cell {
    color: #ccc;
}

/* darkening table */
.dark .table__header {
    background:#222;
}

.dark .table__row:nth-child(even) {
    background: #333;
}

.dark .table__row:nth-child(odd) {
    background: #444;
}

/* table borders */
.dark .table .table__cell {
    border-bottom: 1px solid #666;
}

/* darken all table text */
.dark .table__cell {
    color: #888;
}

.dark .content-wrap .centered-col p {
    color: #d3d3d3;
}

/* remove shadow on player */
.dark .clip-wrap {
    box-shadow: none;
}

/* black player back instead of purple */
.dark .video-loading  {
    background: #000;
}

/* text color that is not covered by body */
.dark .curator {
    color: #d3d3d3;
}

/* invert Twitch logo */
.dark .svg-logo_twitch {
    fill: #d3d3d3;
}

/* button used to toggle dark mode */
.darkToggleButton {
    position: fixed;
    bottom: 10px;
    right: 10px;

    padding: 6px 11px;
    border-radius: 3px;
    background: #444;
    color: #fff;
}

.darkToggleButton:hover {
    background: #555;
    color: #fff;
    text-decoration: none;

    cursor: pointer;
}

.dark .darkToggleButton {
    background: #282828;
    color: #888;
}

.dark .darkToggleButton:hover {
    background: #333;
    color: #888;
}
