.chat-messages .chat-line {
    background-color: rgb(200, 200, 200);
    border-bottom: 1px solid rgb(180,180,180) !important;
    /*box-shadow: 0px 1px 0px rgb(255,255,255) inset !important;*/
    padding-left: 5px !important;
    padding-right: 5px !important;
    margin-right: -10px !important;
    padding-top: 2px !important;
    padding-bottom: 3px !important;
    line-height: 16px !important;
}

.chat-messages .chat-line {
    margin-bottom: 0px !important;
}

.chat-messages .chat-line.bttv-alt-bg {
    background-color: rgb(217, 217, 217);

}

.ember-chat .chat-messages .tse-content {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.ember-chat .chat-messages .tse-scroll-content, .ember-chat .chat-messages .chat-lines {
    padding: 0px;
}

.ember-chat .chat-messages .chat-line {
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-right: 0px !important;
}

.chat-messages .chat-line.highlight {
    box-shadow: 0px 1px 0px rgba(255,255,255, 0.8) inset !important;
    border-bottom: 1px solid rgba(180,0,0,0.8) !important;
    background-color: rgba(255, 0, 0, 0.5);
}

.chat-messages .chat-line {
    border-bottom: none;
}

#dash_main #chat_lines {
    margin-left: -9px;
    margin-right: -9px;
    margin-top: -9px;
}

#dash_main #speak {
    padding-top: 5px;
}
