#large_nav .game_filter.selected a { 
    border-left: 4px solid #374a9b !important; 
}
#small_nav .game_filter.selected a {
    border-left: 3px solid #374a9b !important;
}
.button.primary,
.button-simple.primary,
.primary_button:hover,
a.js-follow.follow.button.primary.action:hover,
#subscribe_action .subscribe-text:focus,
.button.primary:hover,
#channel .stats-and-actions .follow-button a:hover,
.directory_header .follow-button a:hover,
.profile-info .follow-button a:hover,
#hostmode .channel-actions .follow-button a:hover,
.chat-room .moderation-card .mod-card-follow:hover,
.conversation-window.has-unread > .conversation-header,
.conversations-list .notification-jewel,
.conversation-window.has-focus .conversation-input-actions .button,
.player-video__submit, .button.js-set-switch, 
.button.js-buy-bits, .button.js-two-factor-disable,
.button.bits-buy--button, .button.subscribe-button,
.js-subwindow-submit.button, .button#bits-learn-more, 
.button.no-login-contain__button, .button.follow-button.follow { 
    background: linear-gradient(bottom, rgb(50,108,211) 31%, rgb(67,113,190) 80%) !important; 
    background: -o-linear-gradient(bottom, rgb(50,108,211) 31%, rgb(67,113,190) 80%) !important; 
    background: -moz-linear-gradient(bottom, rgb(50,108,211) 31%, rgb(67,113,190) 80%) !important; 
    background: -webkit-linear-gradient(bottom, rgb(50,108,211) 31%, rgb(67,113,190) 80%) !important; 
    background: -ms-linear-gradient(bottom, rgb(50,108,211) 31%, rgb(67,113,190) 80%) !important; 
}
.button.primary,
.primary_button,
a.js-follow.follow.button.primary.action,
#dash_main #commercial_buttons #intervals,
#channel .stats-and-actions .follow-button a,
.directory_header .follow-button a,
.profile-info .follow-button a,
#hostmode .channel-actions .follow-button a,
.chat-room .moderation-card .mod-card-follow,
.ember-follow.follow-button:not(.is-following) a { 
    border-color: #000 !important;
    background: linear-gradient(bottom, rgb(47,88,185) 31%, rgb(50,108,211) 80%) !important; 
    background: -o-linear-gradient(bottom, rgb(47,88,185) 31%, rgb(50,108,211) 80%) !important; 
    background: -moz-linear-gradient(bottom, rgb(47,88,185) 31%, rgb(50,108,211) 80%) !important; 
    background: -webkit-linear-gradient(bottom, rgb(47,88,185) 31%, rgb(50,108,211) 80%) !important; 
    background: -ms-linear-gradient(bottom, rgb(47,88,185) 31%, rgb(50,108,211) 80%) !important; 
}
.onoff:before, .onoff.on:after {
    border-color: #000;
    background: linear-gradient(bottom, rgb(47,88,185) 31%, rgb(50,108,211) 80%); 
    background: -o-linear-gradient(bottom, rgb(47,88,185) 31%, rgb(50,108,211) 80%); 
    background: -moz-linear-gradient(bottom, rgb(47,88,185) 31%, rgb(50,108,211) 80%); 
    background: -webkit-linear-gradient(bottom, rgb(47,88,185) 31%, rgb(50,108,211) 80%); 
    background: -ms-linear-gradient(bottom, rgb(47,88,185) 31%, rgb(50,108,211) 80%);
}
#subscribe_action .subscribe-text {
    background: none;
}
#team_member_list .page_links a, .page_links span.next_page b, .page_links a.next_page b, #main_col .messages div.preview.unread {
    border-left-color: #374a9b !important;
}
#team_member_list .page_links a b.left {
    border-left-color: #374a9b !important;
}
#team_member_list .page_links a b.right, .page_links span.previous_page b, .page_links a.previous_page b {
    border-right-color: #374a9b !important;
} 
.ember-chat .chat-menu-button-container svg path, .button.unfollow .svg-check path, .button.unfollow .svg-x path, #is-subscribed svg path {
    fill: #2A4687 !important;
}
.dropmenu.menu-like .dropmenu_action:hover, .dropmenu.menu-like .edit_action:hover span, .hostmode-title-container .hostmode-title .what, .ui-autocomplete .game.ui-menu-item a:hover {
    background-color: #2A4687 !important;
}

.ember-chat .chat-menu .chat-rooms .room:hover {
    background-color: #2A4687;
}

.line .staff, .line .oldstaff, .ember-chat .badges .staff, .ember-chat .badges .oldstaff {
    background-color: #06C;
}
/* mod card follow button text fix */
.ember-chat .moderation-card .interface .mod-card-follow {
    color: #ccc;
}
.ui-menu-item a:hover, .ember-chat .chat-interface .suggestions .highlighted {
    background-color: #06C;
}
.filter-list .filter-item:hover span {
    background: rgba(0,102,204,0.5);
}
.filter-list .filter-item span {
    background: rgba(0,102,204,0.65);
}
.filter-nav, .filter-nav:hover {
    background: #0073e6;
}
a.button.js-show-stream-key {
    color: black;
}
.sort-contain .sort-options li a:hover {
    background-color: #06c;
}
.ember-chat .moderation-card button.button {
    color:#ccc;
}

/* links on light interface are only black if blue buttons is enabled */
.member a {
    color: black;
}

a {
    color: black;
}

#site_header .normal_button, #site_header .large_normal_button, #site_header .dropdown, #site_header .dropdown_static, #site_header .dropdown_glyph {
    color: black;
}

div#header_actions span, div#header_actions a {
    color: black;
}

div#header_actions a.primary span {
    color: white !important;
}

#main_col .stats-and-actions #is-subscribed, .button.unfollow, .button.unfollow:hover {
    color: #000 !important;
}
.directory_header .nav li>a, ul.tabs_fake li>a, .ember-chat .chat-room-list .room p.room-title, .dropmenu.menu-like .dropmenu_action  {
    color: #000;
}
.button.glyph svg path, .follow-button .glyph.follow svg path, .button.glyph-only svg path, .follow-button .glyph-only.follow svg path {
    fill: #144CA5;
}
.button, #channel .player-column #broadcast-meta .info .edit-link span,
.conversation-window .new-message-divider {
    color: #b8b8b8;
}
.conversation-window .new-message-divider:after {
    background-color: #b8b8b8;
}
.banner-contain .profile-info .profile-bio a, .banner-contain #change_profile_banner .add_image {
    color:#6E99DD
}
.twitch_subwindow_container {
    background-color: rgba(23, 23, 23, 0.9);
}
.banner-contain .channel-link .live-status.live {
    background: #305DD0;
}
.banner-contain .channel-link .live-status.live:before, .banner-contain .channel-link .live-status.live:after {
    box-shadow: 0 0 3px 1px #8EA1D2,inset 0 0 3px 1px #8EA1D2;
    -moz-box-shadow: 0 0 3px 1px #8EA1D2,inset 0 0 3px 1px #8EA1D2;
    -webkit-box-shadow: 0 0 3px 1px #8EA1D2,inset 0 0 3px 1px #8EA1D2;
}
.conversation-window.has-unread .conversation-unread-count {
    color: #fff;
}

.chat_line a, .ember-chat .chat-line a {
    color: #005596;
}

/* Fixes for #1294*/
.chat-buttons-container .button.js-chat-buttons__submit, .warp__action--primary, .js-friends-onboarding .button, .player-content-button, 
.ct-bar__item .follow-button, .following-games-onboarding .button, .profile-actions__button .button--dropmenu,
.stay-sub-button, .message_actions_block .batch_btn, .js-message-form .button.cancel, .dash-player-contain .button.preview_visible, 
.channel-feed-toggle .switch.active, .chat-create-room .button, .chat-invite-user .button, .button.js-two-factor-enable, 
.setting_section .button, .profile-card__actions .follow-button.button, .profile-card__actions .friend-button .button, 
.profile-card__actions .profile-card__whisper.button {
    background: linear-gradient(bottom,rgb(47,88,185) 31%,rgb(50,108,211) 80%);
    background: -moz-linear-gradient(bottom,rgb(47,88,185) 31%,rgb(50,108,211) 80%);
    background: -webkit-linear-gradient(bottom,rgb(47,88,185) 31%,rgb(50,108,211) 80%);
}

.warp__action--primary:hover, .chat-buttons-container .button.js-chat-buttons__submit:hover, .js-friends-onboarding .button:hover, 
.player-content-button:hover, .ct-bar__item .follow-button:hover, .following-games-onboarding .button:hover, 
.profile-actions__button .button--dropmenu:hover, .stay-sub-button:hover, .message_actions_block .batch_btn:hover, 
.js-message-form .button.cancel:hover, .dash-player-contain .button.preview_visible:hover, .channel-feed-toggle .switch.active:hover, 
.chat-create-room .button:hover, .chat-invite-user .button:hover, .button.js-two-factor-enable:hover, 
.setting_section .button:hover, .profile-card__actions .follow-button.button:hover, .profile-card__actions .friend-button .button:hover, 
.profile-card__actions .profile-card__whisper.button:hover {
    background: linear-gradient(bottom,rgba(47,88,185,0.9) 31%,rgba(50,108,211,0.9) 80%);
    background: -moz-linear-gradient(bottom,rgba(47,88,185,0.9) 31%,rgba(50,108,211,0.9) 80%);
    background: -webkit-linear-gradient(bottom,rgba(47,88,185,0.9) 31%,rgba(50,108,211,0.9) 80%);
}

.recent-past-broadcast, .player-column .feed-toggle-contain.brick, .player-column .brick.brick--marked {
    border-left: 5px solid #2F58B9 !important;
}

.svg-onboarding #Fill-59 {
    fill: #7A97CA;
}

.following-games-onboarding {
    background: #17181c;
}

.balloon .balloon__link:hover {
    background: #2F58B9 !important;
}

.message_actions_block .glyph-only.batch_btn {
    background: none !important;
}

.recent-past-broadcast {
    border-left: 5px solid #2F58B9;
}
