/* darken most things */
body.dark, body.dark #clips-app-root {
    background: rgb(20,20,20);
    color: #d3d3d3;
}

/* dark links */
.dark a {
    color: #888;
}

/* darken header */
.dark .nav.js-navigation {
    background: rgb(30, 30, 30);
    border-bottom: 1px solid #444;
}

/* make header username more readable */
.dark .clips-nav__username .button.button--text span {
    color: #d3d3d3;
}

/* darken header dropdown menu*/
.dark .clips-nav__username .balloon--dropmenu, .dark .clips-nav__username .balloon--dropmenu:after {
    background: #333;
}

/* header dropdown menu text */
.dark .clips-nav__username .balloon--dropmenu span {
    color: #d3d3d3;
}

/* darken header menu hover */
.dark .balloon .balloon__link:hover {
    background-color: #282828 !important; 
}

/* darken tabs bottom border */
.dark .tabs {
    box-shadow: inset 0 -1px 0 #666;
}

.dark .tabs__item {
    box-shadow: inset 0 -1px 0 #777;
}

/* remove unnecessary purple */
.dark .tabs__item--active, .dark .tabs__item:hover {
    box-shadow: inset 0 -1px 0 #d3d3d3;
}

/* alternating table rows */
.dark .table .table__row:nth-child(even) {
    background: rgb(25, 25, 25);
}

.dark .table .table__row:nth-child(odd) {
    background: rgb(35, 35, 35);
}

.dark .table .table__row, .dark .table .table__header {
    background-color: rgb(30, 30, 30);
}

/* table borders */
.dark .table .table__cell {
    border-bottom: 1px solid #666;
}

/* darken all table text */
.dark .table__header .table__cell {
    color: #ccc;
}

.dark .table__cell {
    color: #888;
}

.dark .content-wrap .centered-col p {
    color: #d3d3d3;
}

/* my_clips preview window */
.dark .previewer {
    background: rgba(30, 30, 30, .85);
}

.dark .previewer .previewer__pane {
    background: rgb(20, 20, 20);
}

.dark .previewer .previewer__close {
    fill: #d3d3d3;
}

/* darken share dropdown menu */
.dark .top-share-container .balloon-wrapper .balloon, .dark .top-share-container .balloon-wrapper .balloon:after {
    background-color: rgb(30, 30, 30);
}

/* input, select and textarea boxes */
.dark .balloon input, .dark .modal .js-report-content-modal select, .dark .modal .js-report-content-modal textarea {
    background: #3b3b3b;
    border: 1px solid rgba(0,0,0,0.35);
    color: #d4d4d4
}

.dark .balloon label {
    font-weight: 700;
    color: #d3d3d3;
}

/* all the buttons & title edit */
.dark .clip-card .button:hover,
.dark .ct-editable-text:hover,
.dark .top-share-container .button:hover,
.dark .ct-editable-text:hover:after {
    background-color: rgb(50, 50, 50);
}

.dark .button--text:hover,
.dark .ct-editable-text:hover:after {
    background: #4c4c4c;
}

.dark .clip-card .nv-clip-action-buttons .button,
.dark .clip-card .ct-view-info .button,
.dark .ct-fade-in .ct-edit-info .button,
.dark .top-share-container .button {
    background-color: rgb(30,30,30);
    box-shadow: inset 0 0 0 1px rgba(171,171,171,0.5);
    color: #b8b8b8;
}

/* white icons */
.dark .nv-clip-content svg,
.dark .ct-fade-in svg {
    fill: #d3d3d3 !important; 
}

/* darken remove and report popup */
.dark .modal {
    background-color: rgba(30,30,30,.85);
}

.dark .modal .modal__content {
    background-color: rgb(40, 40, 40);
}

.dark .player .player-controls-bottom .balloon, .dark .player .player-controls-bottom .balloon:after {
    background-color: rgb(30, 30, 30);
}

.dark .modal .modal__content hr, .dark .balloon__list .balloon__stroke {
    border-top: 1px solid #333;
}

 /* red remove and report button */
.dark .modal .modal__content .js-form-send-button, .dark .modal .modal__content .js-report-send-button {
    background-color: #fc3636;
} 

/* red report link */
.dark .player-menu .balloon__list .js-report-clip-option {
        color: #fc3636 !important;
}

/* text color that is not covered by body */
.dark .curator, .dark .modal .modal-title, .dark .nv-clip-content__meta h3, .dark .nv-clip-content__meta p, .dark .sub-text, .dark .js-editing-controls label.label {
    color: #d3d3d3;
}

/* remove shadow on player */
.dark .nv-clip-content {
    box-shadow: none;
}

/* black player back instead of purple */
.dark .nv-video-wrap, .dark .nv-video-wrap .nv-clip-wrap  {
    background: #000;
}

/* Clip Content */
.dark .nv-clip-content__meta {
    background-color: rgb(30, 30, 30);
}

.dark .nv-clip-content__meta .more-clips {
    border-top: 1px solid #444;
}

.dark .more-clips-card__layout:hover {
    background: #282828;
}

/* new clip edit page */
.dark .ce-clip-center__pre-control {
    background-color: rgb(30, 30, 30);
    border-color: rgba(0, 0, 0, 0.45);
    box-shadow: 0 2.4rem 3.5rem -2rem rgba(225,225,225,.04);
}

.dark .ce-clip-center__pre-control input#input-clip-link {
    background: #3b3b3b;
    border: 1px solid rgba(0,0,0,0.35);
    color: #d4d4d4;
}

.dark .ce-clip-center__pre-control .ce-buttons-wrap .button {
    box-shadow: inset 0 0 0 2px rgba(171,171,171,0.5);
    color: #d2d2d2;
}

.dark .ce-clip-center__pre-control .ce-buttons-wrap .button:hover {
    background-color: rgba(171,171,171,0.05);
    color: #d2d2d2;
}

/* filstrip editor */
.dark .ce-clip-center__pre-control .ce-filmstrip-container > .ce-buttons-wrap--editing {
    padding: 1.5rem 2rem 0rem;
}

.dark .ce-filmstrip-fade--right {
    background-image: linear-gradient(-90deg,#141414 13%,hsla(300,9%,98%,0) 70%);
}

.dark .ce-filmstrip-fade--left {
    background-image: linear-gradient(90deg,#141414 13%,hsla(300,9%,98%,0) 70%);
}

/* publish button */
.dark .ce-clip-center__pre-control .ce-filmstrip-container a.button {
    box-shadow: inset 0 0 0 2px rgba(171,171,171,0.5);
    color: #d2d2d2;
    background-color: rgba(57,46,92,0.75);
}

.dark .ce-clip-center__pre-control .ce-filmstrip-container a.button:hover {
    background-color: rgba(57,46,92,0.5);
}

/* invert Twitch logo */
.dark .svg-logo_twitch {
    fill: #d3d3d3;
}

/* button used to toggle dark mode */
.darkToggleButton {
    position: fixed;
    bottom: 10px;
    right: 10px;

    padding: 6px 11px;
    border-radius: 3px;
    background: #444;
    color: #fff;
}

.darkToggleButton:hover {
    background: #555;
    color: #fff;
    text-decoration: none;

    cursor: pointer;
}

.dark .darkToggleButton {
    background: #282828;
    color: #888;
}

.dark .darkToggleButton:hover {
    background: #333;
    color: #888;
}
