.chat-header.main-header, .top-notification.room-invitation, .chat-header.all-rooms-header {
    display: none;
}
.ember-chat .chat-room-list {
    padding-top: 0px !important;
}
.ember-chat .chat-room {
    top: 0px !important;
}
.ember-chat .chat-rooms{
    top: 0px !important;
}