.bits-helper-toggle, .bits-card, .bits-tag--container, .sticky-message--pinned-cheers, .js-bits-emote-image, .chat-line .badge[alt~=cheer], .chat-line .badge.bits {
	display: none !important;
}

.ember-chat .chat-messages.bits-tags__offset {
    top: 0;
}

.ember-chat .sticky-message--pinned-cheers {
    display: none !important;
}

/* FFZ renders badges/bits with classes */
.chat-line .badge.bits, .ffz-bit {
    display: none !important;
}
