h2 {
    font-size: 16px;
}

body.channel_new {
    overflow-y: hidden;
}

.button {
    font-size: 12px;
}

.member.live {
    background: #bdbcbc;
}

.member.playing {
    background-color: #374a9b;
    border-color: #000000;
}

.ember-view .following-col .js-search-input {
    border-radius: 0px;
}

.chat-line .message .deleted {
    color: #6441a4;
}

#metagame a {
    color: white !important;
}

ul.tabs li.tab a {
    color: #262626;
}

ul.tabs li.selected a {
    color: #262626;
}

#header_banner img {
    width: 640px !important;
    height: 125px !important;
}

.dropmenu.menu-like p.dropmenu_action .left, .menu-like.ui-menu p.dropmenu_action .left, .menu-like.ui-multiselect-menu p.dropmenu_action .left, .dropmenu.menu-like .compl_actn .left, .menu-like.ui-menu .compl_actn .left, .menu-like.ui-multiselect-menu .compl_actn .left, .ui-menu p.dropmenu_action .left, .ui-menu.ui-multiselect-menu p.dropmenu_action .left, .ui-menu .compl_actn .left, .ui-menu.ui-multiselect-menu .compl_actn .left {
    width: auto;
    height: auto;
}

.ember-chat .chat-messages {
    top: 0px !important;
    bottom: 114px;
    background-color: #efeef1; /* hide group chat feature depends on having a background */
}

.loading-mask {
    background: none;
}

/* New Channel Page */
#right_col:after {
    margin-left: -1px;
}

#large_nav .content .bottom .loggedin #user_display_name .unread_message_count {
    background-color: #374a9b;
}

#right_col .content {
    width: 100%;
}

#right_col .resizer {
    width: 5px;
    height: 100%;
    position: absolute;
    left: -2px;
    z-index: 9001;
    bottom: 0px;
    cursor: e-resize;
}

#right_col .top {
    background-color: #E5E5E5;
}

#small_nav .content ul #small_home a {
    background: url(../assets/icons/logo_navbar_icons.png) no-repeat 0 0;
}

#small_nav .content ul #small_home a:hover {
    background: url(../assets/icons/logo_navbar_icons.png) no-repeat 0px -50px;
}

/* Chat CSS */
input.text:focus,select:focus,textarea:focus {
    outline: 0;
    background-color: #fff;
    box-shadow: 0 0 3px 1px #dad9d9;
    -moz-box-shadow: 0 0 3px 1px #dad9d9;
    -webkit-box-shadow: 0 0 3px 1px #dad9d9;
    border: 1px solid #aaa;
    color: #000;
}

.ember-chat .chat-hidden-overlay {
    left: 0px;
}

#chat_line_list li .mod_button img, .ember-chat .mod-icons a {
    vertical-align: baseline;
    padding: 0px;
    margin-bottom: -5px;
}

.chat_line img, .ember-chat .message img {
    vertical-align: baseline !important;
}

.line .bot, .ember-chat .badges .bot {
    display: inline-block;
    text-indent: 21px;
    background-image: url(../../tags/bot.png);
    background-position: 0 center;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: bottom;
    height: 18px;
    min-width: 18px;
    width: 18px;
    padding: 0;
    margin-bottom: 1px;
    text-indent: -9999px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    overflow: hidden;
}

.ember-chat .badges .oldmoderator, .ember-chat .badges .oldstaff, .ember-chat .badges .oldadmin, .ember-chat .badges .oldbroadcaster, .ember-chat .badges .oldbot, .ember-chat .badges .oldglobal-moderator {
    padding: 2px 3px;
    text-indent: none;
    color: white;
    font-size: 0.8572em;
    font-weight: bold;
    border-radius: 2px;
    display: inline !important;
}

.ember-chat .badges {
    display: inline-block;
}

.ember-chat .badges a {
   text-decoration: none;
}

.ember-chat .badges .badge {
    float: none !important;
    background-size: contain;
    margin: 0px;
}

.ember-chat .badges .badge:last-child {
    margin-right: 5px;
}

.badges .oldbot {
    background-color: #666666;
}

.badges .oldmoderator {
    background-color: #009900;
}

.badges .oldbroadcaster {
    background-color: #000000;
}

.badges .oldadmin {
    background-color: #FF0000;
}

.badges .oldstaff {
    background-color: #6441a5;
}

.badges .oldglobal-moderator {
    background-color: #0c6f20;
}

.badges .twitch-premium-1.alpha {
    cursor: pointer;
    background: url("../assets/icons/badge-prime.svg");
    background-size: 100%;
}

.line .bttvDeveloper, .ember-chat .badges .bttvDeveloper {
    background: url("../../tags/badge-dev.svg");
    background-size: 100%;
}

/* red badge on red highlight = :( */
.ember-chat .chat-line.highlight .badges .bttvDeveloper {
    filter: brightness(1.4);
}

.line .bttvSupporter, .ember-chat .badges .bttvSupporter {
    background: url("../../tags/badge-support.svg");
    background-size: 100%;
}

.line .bttvApprover, .ember-chat .badges .bttvApprover {
    background: url("../../tags/badge-approver.svg");
    background-size: 100%;
}

.line .brown, .ember-chat .badges .brown {
    background-color: #6B4226;
    border-radius: 2px 2px 2px 2px;
    padding: 2px 3px;
    font-weight: bold;
    font-size: 0.8572em;
    color: white;
    display: inline !important;
}

.line .teal, .ember-chat .badges .teal {
    /* Not even teal anymore */
    background-color: #565656;
    border-radius: 2px 2px 2px 2px;
    padding: 2px 3px;
    font-weight: bold;
    font-size: 0.8572em;
    color: white;
    display: inline !important;
}

.line .orange, .ember-chat .badges .orange {
    background-color: orange;
    border-radius: 2px 2px 2px 2px;
    padding: 2px 3px;
    font-weight: bold;
    font-size: 0.8572em;
    color: white;
    display: inline !important;
}

.line .lefty, .ember-chat .badges .lefty {
    background-color: red;
    background-image: url(../../tags/ca.gif);
    padding-left: 23px !important;
    border-radius: 2px 2px 2px 2px;
    padding: 2px 3px;
    font-weight: bold;
    font-size: 0.8572em;
    color: white;
    display: inline !important;
}

.line .bacon, .ember-chat .badges .bacon {
    background: url(../../tags/bacon.png) no-repeat;
    padding-left: 23px !important;
    border-radius: 2px 2px 2px 2px;
    padding: 2px 3px;
    font-weight: bold;
    font-size: 0.8572em;
    color: white;
    display: inline !important;
}

.line .taco, .ember-chat .badges .taco {
    background: url(../../tags/taco.png) no-repeat;
    padding-left: 23px !important;
    border-radius: 2px 2px 2px 2px;
    padding: 2px 3px;
    font-weight: bold;
    font-size: 0.8572em;
    color: white;
    display: inline !important;
}

.line .purple, .ember-chat .badges .purple {
    background-color: #4F007B;
    border-radius: 2px 2px 2px 2px;
    padding: 2px 3px;
    font-weight: bold;
    font-size: 0.8572em;
    color: white;
    display: inline !important;
}

.line .admin, .line .staff, .line .broadcaster, .line .mod, .line .turbo a, .line .subscriber a, .ember-chat .badges .badge, .ember-chat .badges .badge a {
    margin-bottom: 1px;
    border-radius: 2px;
}

.line .tag.alpha, .ember-chat .badges .badge.alpha {
    background-color: transparent;
}

.line .tag.invert,
.ember-chat .badges .broadcaster.invert,
.ember-chat .badges .moderator.invert,
.ember-chat .badges .global-moderator.invert,
.ember-chat .badges .admin.invert,
.ember-chat .badges .staff.invert,
.ember-chat .badges .turbo.invert,
.ember-chat .badges .twitch-premium-1.invert {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'invert\'><feColorMatrix in='SourceGraphic' type='matrix' values='-1 0 0 0 1 0 -1 0 0 1 0 0 -1 0 1 0 0 0 1 0'/></filter></svg>#invert");
    filter: invert(100%);
    -webkit-filter: invert(100%);
    -o-filter: invert(100%);
    -ms-filter: invert(100%);
    -moz-filter: invert(100%);
}

.line .tag.alpha a, .ember-chat .badges .badge.alpha a {
    background-color: transparent;
}

#chat_line_list .line p {
    margin-right: 10px;
    width: -moz-calc(100% - 49px);
    width: -webkit-calc(100% - 49px);
    width: calc(100% - 49px);
}

#chat_line_list {
    padding-top: 0px !important;
}

#chat_line_list .highlight, .chat-messages .chat-line.highlight {
    color: #000 !important;
    padding-top: 5px;
    background-color: rgba(255, 0, 0, 0.5) !important;
}

.chat-messages .chat-line.highlight .from {
    color: #000 !important;
}

#right_col #chat_line_list .highlight {
    margin-left: -10px;
    padding-left: 5px;
    margin-right: -5px;
}

.more-archives.bottom:hover {
    color: #222 !important;
}

.more-archives.bottom {
    color: #222 !important;
}

#user_info .chat_menu_action {
    color: #fff !important;
}

/* left side chat */
.swap-chat .ember-view #right_col {
    left: 0;
    right: initial;
}

.swap-chat .ember-view .app-main #main_col {
    margin-left: 340px;
    margin-right: 240px;
}

.swap-chat .ember-view .app-main.has-sc--collapsed #main_col,
.swap-chat .ember-view .app-main:not(.has-sc) #main_col.expandLeft {
    margin-right: 50px;
}

.swap-chat .ember-view #main_col.expandRight {
    margin-left: 0px;
}

.swap-chat .ember-view .social-column,
.swap-chat .ember-view #left_col {
    right: 0;
    left: initial;
}

.swap-chat .ember-view #main_col .cn-bar-fixed {
    right: 240px !important;
    left: 340px !important;
}

.swap-chat .ember-view #main_col.expandRight .cn-bar-fixed {
    left: 0px !important;
}

.swap-chat .ember-view .app-main.has-sc--collapsed #main_col .cn-bar-fixed,
.swap-chat .ember-view .app-main:not(.has-sc) #main_col.expandLeft .cn-bar-fixed {
    right: 50px !important;
}

.swap-chat .ember-view .player-mini {
    left: 350px !important;
}

.swap-chat .ember-view .expandRight .player-mini {
    left: 10px !important;
}

.swap-chat .ember-view #left_close {
    left: initial;
    right: 5px;
}

.swap-chat .ember-view #right_close {
    left: 5px;
    right: initial;
}

.swap-chat .ember-view #left_close:before, .swap-chat .ember-view #right_close.closed:before {
    margin-left: -2px;
    border-left-color: #fff;
    border-right-color: transparent;
}

.swap-chat .ember-view #left_close.closed:before, .swap-chat .ember-view #right_close:before {
    margin-left: -8px;
    border-right-color: #fff;
    border-left-color: transparent;
}

.swap-chat .ember-view .search-panel {
    left: initial;
    right: 240px;
}

.swap-chat .ember-view .search-panel--closed {
    transform: translate3d(900px,0,0);
}

.swap-chat .ember-view .profile-card--balloon {
    left: initial !important;
    right: 240px;
}

.swap-chat .ember-view .js-username-hover-tip .balloon {
    margin-right: 6px;
    transform: scaleX(-1);
}

.swap-chat .ember-view .js-username-hover-tip .balloon .profile-card {
    transform: scaleX(-1);
}

.swap-chat .ember-view .offer-item__balloon {
    margin-left: -561px;
}

.swap-chat .ember-view .offer-item__balloon:after {
    display: none;
}

.swap-chat .ember-view .app-main.theatre #player {
    right: 0;
    left: 340px;
}

.swap-chat .ember-view .app-main.theatre #main_col.expandRight #player {
    left: 0 !important;
}

.swap-chat .ember-view .app-main.theatre #main_col {
    margin-left: 340px !important;
    margin-right: 0;
}

.swap-chat .ember-view .app-main.theatre #main_col.expandRight {
    margin-left: 0 !important;
}

.swap-chat .ember-view .app-main.theatre #player[data-isfullscreen=true] {
    left: 0;
}

.swap-chat .notification-center-balloon {
    right: 0;
    left: initial;
}

/* BTTV settings menu */
#bttvSettingsPanel {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -400px;
    color: #D3D3D3;
    width: 800px;
    height: 500px;
    z-index: 9002;
    border-radius: 3px;
    border: 1px solid #000;
    background-color: #1e1e1e;
    box-shadow: -1px 0 0 rgba(0,0,0,0.3), -2px 0 0 rgba(0,0,0,0.2), -3px 0 0 rgba(0,0,0,0.1),
                1px 0 0 rgba(0,0,0,0.3), 2px 0 0 rgba(0,0,0,0.2), 3px 0 0 rgba(0,0,0,0.1),
                0 -1px 0 rgba(0,0,0,0.3), 0 -2px 0 rgba(0,0,0,0.2), 0 -3px 0 rgba(0,0,0,0.1),
                0 1px 0 rgba(0,0,0,0.3), 0 2px 0 rgba(0,0,0,0.2), 0 3px 0 rgba(0,0,0,0.1);
}

#bttvSettingsPanel #header {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #282828;
    width: 100%;
    border-bottom: 1px solid #111;
    line-height: 42px;
}

#bttvSettingsPanel #footer {
    color: #777;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #282828;
    bottom: 0px;
    position: absolute;
    width: -moz-calc(100% - 10px);
    width: -webkit-calc(100% - 10px);
    width: calc(100% - 10px);
    padding: 5px;
    border-top: 1px solid #111;
    box-sizing: content-box;
}

#bttvSettingsPanel #footer a {
    color: #ff0000;
    opacity: 0.7;
    font-weight: bold;
}

#bttvSettingsPanel #logo {
    padding: 10px;
    vertical-align: bottom;
    text-shadow: 1px 1px 3px #000;
    font-size: 25px;
    font-family: "Korolev-Bold","HelveticaNeue-CondensedBold","ArialNarrow-Bold","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#bttvSettingsPanel #close {
    font-size: 30px;
    vertical-align: center;
    float: right;
    right: 20px;
    top: 0px;
    position: absolute;
    color: #fff;
    text-shadow: 0 1px 0 #000;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

#bttvSettingsPanel #close:hover, #bttvSettingsPanel #close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

#bttvSettingsPanel #bttvSettings {
    font: 12px "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#bttvSettingsPanel #bttvSettings div {
    box-sizing: content-box;
}

#bttvSettingsPanel #bttvSettings h2 {
    box-sizing: content-box;
    margin: 0px;
}

#bttvSettingsPanel .option {
    position: relative;
    color: #999;
    line-height: 30px;
    width: -moz-calc(100% - 20px);
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
    background-color: rgb(30, 30, 30);
    border-bottom: 1px solid rgb(0, 0, 0) !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 3px !important;
    padding-bottom: 2px !important;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.04) inset !important;
}

#bttvSettingsPanel .option:nth-child(2n) {
    background-color: rgb(35, 35, 35);
}

#bttvSettingsPanel .option a {
    color: #D3D3D3;
}

#bttvSettingsPanel .nav {
    list-style: none;
    display: inline-block;
    margin: 0 10px 0 0;
    vertical-align: middle;
}

#bttvSettingsPanel .nav > li {
    float: left;
    line-height: 18px;
}

#bttvSettingsPanel .nav > li > a {
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 15px;
    color: #adafae;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-decoration: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-family: "Korolev-Bold","HelveticaNeue-CondensedBold","ArialNarrow-Bold","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: normal;
}

#bttvSettingsPanel .nav > li > a:hover, #bttvSettingsPanel .nav > .active > a, #bttvSettingsPanel .nav > .active > a:hover {
    border-bottom: 1px solid #ff0000;
    color: #D3D3D3;
}

#bttvSettingsPanel #bttvAbout .aboutHalf {
    width: -moz-calc(50% - 30px);
    width: -webkit-calc(50% - 30px);
    width: calc(50% - 30px);
    display: inline-block;
    float: left;
    background-color: rgb(35, 35, 35);
    border-radius: 3px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    height: 395px;
}

#bttvSettingsPanel #bttvAbout .aboutHalf a {
    color: #888;
}

#bttvSettingsPanel #bttvAbout .aboutHalf p {
    text-align: left;
    text-indent: 18px;
}

#bttvSettingsPanel h1 {
    font-size: 26px;
    color: #D3D3D3;
}

#bttvSettingsPanel #bttvAbout .aboutHalf .bttvAboutIcon {
    margin-top: 90px;
}

#bttvSettingsPanel #bttvPrivacy .tse-content, #bttvSettingsPanel #bttvChangelog .tse-content {
    padding: 15px;
}

#bttvSettingsPanel #bttvPrivacy ul, #bttvSettingsPanel #bttvPrivacy p, #bttvSettingsPanel #bttvChangelog ul {
    padding-left: 10px;
}

#bttvSettingsPanel #bttvPrivacy strong {
    margin-left: -5px;
}

#bttvSettingsPanel #bttvPrivacy p {
    padding-top: 10px;
}

#chat_line_list, .ember-chat .chat-messages {
    font-size: 13.33333px;
    line-height: 17.33333px;
}

#bttvSettingsPanel .scroll-dark .tse-scrollbar .drag-handle {
    width: 7px;
}

.bttv-mod-card {
    width: 290px;
}

.bttv-mod-card .interface button {
    margin-top: 5px;
}

.bttv-mod-card .interface {
    width: 100% !important;
    padding: 0px !important;
}

.bttv-mod-card .btn-wrapper {
    padding: 10px;
}

.bttv-mod-card .name a {
    max-width: 185px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
}

.bttv-mod-card .name .mod-card-edit {
    margin-left: 3px;
    margin-bottom: 6px;
}

.bttv-mod-card .user-messages {
    width: 100%;
    max-width: 320px;
    float: left;
}

.bttv-mod-card .user-messages .label {
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 15px;
    padding-right: 10px;
    background-color: rgb(220,220,220);
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.bttv-mod-card .user-messages .label .triangle {
    width: 0;
    height: 0;
    opacity: 0.5;
    position: absolute;
    right: 15px;
    margin-top: -6px;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid white;
    transition: all 300ms ease-in;
}

.bttv-mod-card .user-messages .label .triangle.open {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.bttv-mod-card .user-messages .mod-icons {
    display: none;
}

.bttv-mod-card .user-messages .bttv-user-locate .from {
    box-shadow: none;
}

.bttv-mod-card .chat-messages {
    display: none;
    top: auto !important;
    bottom: auto !important;
    position: relative;
    max-height: 100px;
    width: 100% !important;
    max-height: 100px !important;
    overflow-y: auto;
    box-shadow: 0px 2px 0px 0px #f00;
}

.bttv-switch {
  position: absolute;
  right: 7px;
  top: 4px;
  height: 26px;
  width: 120px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.bttv-switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 58px;
  line-height: 26px;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.35);
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}
.bttv-switch-label:active {
  font-weight: bold;
}

.bttv-switch-label-off {
  padding-left: 2px;
}

.bttv-switch-label-on {
  padding-right: 2px;
}

/*
 * Note: using adjacent or general sibling selectors combined with
 *       pseudo classes doesn't work in Safari 5.0 and Chrome 12.
 *       See this article for more info and a potential fix:
 *       http://css-tricks.com/webkit-sibling-bug/
 */
.bttv-switch-input {
  display: none;
}
.bttv-switch-input:checked + .bttv-switch-label-on {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.65);
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}
.bttv-switch-input:checked + .bttv-switch-label-off {
  font-weight: bold;
  color: #D3D3D3;
  text-shadow: 0 1px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}

/* CloudFlare chokes on this */
/* so we preminify */
.bttv-switch-input:checked+.bttv-switch-label-on~.bttv-switch-selection{left:60px;}.bttv-switch-input:checked+.bttv-switch-label-off~.bttv-switch-selection{background:#111;box-shadow:none;}

.bttv-switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: 58px;
  height: 22px;
  background: #65bd63;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, #C54E4E, #AB2525);
  background-image: -moz-linear-gradient(top, #C54E4E, #AB2525);
  background-image: -o-linear-gradient(top, #C54E4E, #AB2525);
  background-image: linear-gradient(to bottom, #C54E4E, #AB2525);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
.bttv-switch-off {
  color: #D3D3D3;
}

/* dashboard */

#dash_main .dash-items-contain #controls_column {
    width: 420px;
}

#dash_main .dash-items-contain .dash-chat-column {
    width: 500px;
}

#dash_main #video_player {
    height: 272px;
}

#dash_main #hide_preview {
    background: transparent;
    text-decoration: underline;
}

#dash_main #custom_filter #gameselector_input {
    width: 185px;
}

#dash_main #broadcaster_language_switch {
    width: 130px;
}

#dash_main .dash-broadcast-contain {
    padding: 10px;
}

#dash_main .dash-player-contain {
    margin-bottom: 0px;
}
#dash_main .dash-items-contain .primary_button {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

#dash_main .dash-items-contain .primary_button span {
    padding-top: 0px;
    padding-bottom: 0px;
}

#dash_main #stats {
    height: 48px;
}

#dash_main #stats .stat#views_count svg path,
#dash_main #stats .stat#followers_count svg path {
    fill: #2a2a2a;
}

#dash_main #stats .stat#chatters_count {
    padding-left: 20px;
    background: url(../assets/icons/chatters_dark.png) no-repeat left center;
}

#dash_main #stats .stat#subs_count {
    padding-left: 20px;
    background-size: 14px 14px;
    background: url(../assets/icons/star.png) no-repeat left center;
}

#dash_main #commercial_buttons {
    float: none;
    border-top: 1px solid rgba(0,0,0,0.2);
    height: 50px;
}

.normal_button, .large_normal_button, .dropdown, .dropdown_static, .dropdown_glyph, .primary_button, button.primary, #left_close, #right_close, #commercial_buttons .button {
    border-radius: 2px !important;
    font-weight: bold;
}

.ember-chat .chat-interface .chat-buttons-container .send-chat-button {
    max-width: 180px;
    min-width: 100px;
    float: right;
    left: auto;
    right: 0px;
    display: inline;
    top: 0px;
    position: auto;
    color: #fff !important;
    margin-right: 0px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

input, textarea, select {
    border-radius: 2px;
}

.tga_modal {
    position: absolute;
    top: 1px;
    height: 550px;
    z-index: 100;
}

.viewers_box .list {
    height: 490px !important;
}


/* Better Viewer List */
#bvl-panel {
    min-width: 200px;
    min-height: 300px;
    z-index: 10;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.25);
}

#bvl-panel .chat-header {
    cursor: move !important;
}

#bvl-panel .chat-header svg {
    vertical-align: middle;
}

#bvl-panel a.button.disable {
    opacity: 0.2;
    cursor: not-allowed;
}

#bvl-panel .status {
    margin-top: 8px;
    text-align: center;
}

#bvl-panel .viewer-count {
    text-align: center;
    font-size: 8pt;
    margin: -3px;
    color: #888;
}

#bvl-panel .filter {
    box-shadow: none;
    border-radius: 0;
    margin: 6px;
    width: calc(100% - 10px);
    display: none;
}

#bvl-panel .viewer-list {
    width: calc(100% - 25px);;
    margin: 0 15px;
    overflow: auto;
}

#bvl-panel .viewer-list::-webkit-scrollbar {
  width: 6px;
}

#bvl-panel .viewer-list::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.7);
  border-radius: 7px;
}

#bvl-panel .viewer-list::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}

#bvl-panel li {
    color: #6441a5;
    height: 20px;
    display: table;
}

#bvl-panel li:not(.user-type) {
    cursor: pointer;
}

#bvl-panel li.user-type {
    color: #8c8c8c;
}

#bvl-panel .resizable-handle-se {
    width: 20px !important;
    height: 20px !important;
}

#bvl-panel .bvl-resizer {
    position: absolute;
    fill: #555;
    right: 0;
    bottom: 0;
}
/* ============= */

.bttvSettingsIcon {
    background: url(../assets/icons/bttv_settings.png) no-repeat 0 0px;
}

.bttvSettingsIcon:hover {
    background: url(../assets/icons/bttv_settings.png) no-repeat -18px 0px;
}

.bttvSettingsIconDropDown {
    width: 18px !important;
    margin-left: 6px;
    margin-right: 16px !important;
    height: 18px;
    background: url(../assets/icons/bttv_settings.png) no-repeat 0 0px;
}

.xbox_button {
    display: none !important;
}

.segmented_tabs {
    width: 321px;
}

#sub-button {
    display: none !important;
}

#right_col #sub-link {
    display: none !important;
}

.fromtwitchnotify {
    opacity: 0.5;
}

.ember-chat .chat-messages {
    left: 0px;
    right: 0px;
}

.ember-chat .mod-icons, .ember-chat .chat-messages .timestamp {
    margin-right: 0px;
}

.ember-chat {
    margin: 0px;
}

#chat_line_list .line p .chat_line, .ember-chat .chat-messages .chat-line {
    word-break: break-word;
    padding: 0.4em 0.8em;
    margin-top: inherit;
    line-height: 1.3em;
}

#chat_line_list li .nick, .ember-chat .chat-messages .from {
    text-transform: none !important;
    word-break: break-all;
}

#bttvTranscodes {
    margin-bottom: 20px;
}

/* Gritter */

/* the norm */
#gritter-notice-wrapper {
    position:fixed;
    top:20px;
    right:20px;
    width:301px;
    z-index:9999;
}

#gritter-notice-wrapper.top-left {
    left: 20px;
    right: auto;
}

#gritter-notice-wrapper.bottom-right {
    top: auto;
    left: auto;
    bottom: 20px;
    right: 20px;
}

#gritter-notice-wrapper.bottom-left {
    top: auto;
    right: auto;
    bottom: 20px;
    left: 20px;
}

.gritter-item-wrapper {
    position:relative;
    margin:0 0 10px 0;
}

.gritter-item {
    background-color: rgba(0,0,0,0.8);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-8 */
    color:#fff;
    padding:15px;
    font-size: 11px;
    -webkit-border-radius: 4px !important;
       -moz-border-radius: 4px !important;
            border-radius: 4px !important;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.25);
       -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.25);
            box-shadow: 0px 1px 1px rgba(0,0,0,0.25);
}

.gritter-item p {
    padding:0;
    margin:0;
    word-wrap:break-word;
}

.gritter-close {
    display:none;
    position:absolute;
    top:5px;
    right:5px;
    cursor:pointer;
    width:12px;
    height:12px;
    background: url(../assets/icons/close_button_white.png);
    opacity: .6;

}

.gritter-title {
    font-size:14px;
    font-weight:bold;
    padding:0 0 7px 0;
    display:block;
    text-shadow:1px 1px 0 #000; /* Not supported by IE :( */
}

.gritter-image {
    width:48px;
    height:48px;
    float:left;
    margin: -5px 5px 5px -5px;
}

.gritter-with-image,
.gritter-without-image {
    padding:0;
}

.gritter-with-image {
    width:220px;
    float:right;
}

/* for the light (white) version of the gritter notice */
.gritter-light .gritter-item {
    background-color: rgba(255,255,255,0.8);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccFFFFFF', endColorstr='#ccFFFFFF',GradientType=0 ); /* IE6-8 */
    color: #646464 !important;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.25);
       -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.25);
            box-shadow: 0px 1px 1px rgba(0,0,0,0.25);
}

.gritter-light .gritter-close {
    background: url(../assets/icons/close_button.png);
}


.gritter-light .gritter-title {
    color: #646464 !important;
    text-shadow: none !important;
}

.chat_menu_btn {
    margin-top: 3px;
}

#header_logo:hover, #large_nav .content .top #logo:hover {
    text-decoration: none !important;
}

#bttvChatPaused {
    position: absolute;
    float: left;
    z-index: 1;
    color: red;
    background-color: #E5E5E5;
    right: 0px;
    padding: 2px 5px;
    border-left: 1px solid rgba(0, 0, 0, 0.247059);
    border-bottom: 1px solid rgba(0, 0, 0, 0.247059);
    white-space: nowrap;
}

/* Fix Chat Popout/Iframe Scrolling Issue */
body#chat #twitch_chat {
    padding: 0px !important;
}

body#chat #speak {
    padding-left: 5px;
    padding-right: 5px;
}

/* Mod Card */

.ember-chat .moderation-card {
    line-height: 0px;
}

.ember-chat .moderation-card img.channel_logo {
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 5px;
    left: 5px;
    background: white;
    border: 3px solid white;
    z-index: 2
}

.ember-chat .moderation-card .close-button {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 16px;
    height: 20px;
    padding: 2px;
    z-index: 6
}

.ember-chat .moderation-card .close-button svg path {
    fill: white
}

.ember-chat .moderation-card .card-header {
    overflow: hidden;
    height: 70px;
}

.ember-chat .moderation-card .card-header .channel_background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 0;
    opacity: 0.5;
}

.ember-chat .moderation-card .card-header .drag-handle {
    width: 100%;
    height: 72px;
    left: 0;
    top: 0;
    position: absolute;
    cursor: move;
    z-index: 3
}

.ember-chat .moderation-card h3.name {
    margin: 6px 0 -8px 70px;
    font-size: 18px;
    display: inline-block;
    padding: 0px;
    line-height: 20px;
    color: white;
    position: relative;
    z-index: 4
}

.ember-chat .moderation-card h3.name a {
    color: white;
    cursor: pointer
}

.ember-chat .moderation-card .svg-edit {
    fill: #FFF;
    cursor: pointer;
}

.ember-chat .moderation-card h4.real-name {
    font-size: 10px;
    color: #AAA;
    z-index: 4;
    position: relative;
    margin-left: 70px;
    margin-top: -8px;
    margin-bottom: -13px;
}

.ember-chat .moderation-card h4.created-at {
    font-size: 11px;
    color: rgb(220,220,190);
    margin-left: 70px;
    margin-top: -4px;
    position: relative;
    display: table;
    z-index: 4;
}

.moderation-card div.channel-stats {
    margin-left: 70px;
    height: 20px;
    line-height: 20px;
    float: left;
    opacity: 0.7;
    position: relative;
    margin-top: -4px;
    padding-right: 0;
}

.moderation-card .channel-stats .stat svg {
    margin-bottom: -5px;
    margin-left: 3px;
}

.moderation-card .channel-stats .stat {
    color: white;
    padding: 0 5px;
}

.ember-chat .moderation-card .button-simple {
    cursor: pointer;
    line-height: 30px;
    padding: 0 10px;
    font-size: 12px;
    color: #262626;
    background: #c4c3c3;
    border: 0;
    margin: 2px 0px;
    height: 30px;

    vertical-align: middle;
}

.ember-chat .moderation-card button img {
    margin: 6px 0px;
}

.ember-chat .moderation-card button svg {
    margin: 8px 0px;
}

.ember-chat .moderation-card button svg path {
    fill: #333;
}

.ember-chat .moderation-card .interface {
    position: relative;
    display: inline-block;
    width: 100%;
}

.ember-chat .moderation-card .button-simple.dark {
    background: #c4c3c3;
    color: #262626;
}

.ember-chat .moderation-card .mod-controls button {
    vertical-align: top;
}

.tipsy {
    z-index: 9000000001 !important;
    word-break: break-all;
    /*white-space: nowrap;*/
}

/* Group Chat changed textarea */
.ember-chat .chat-interface .textarea-contain {
    width: auto;
    top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.ember-chat .chat-interface .chat-buttons-container {
    width: auto;
    margin: 0px 10px;
    padding-top: 10px;
}

.ember-chat .chat-interface .chat-buttons-container .chat-option-buttons button:first-child {
    margin-right: 3px;
}

#chat_emote_dropmenu_button.newlayout {
    margin-left: 3px !important;
}

/* Fix Group Chat Pane Height */
.ember-chat .chat-room-list {
    height: calc(100% - 50px);
    top: 50px;
}

/* Fix chat rooms leave button */
.ember-chat .chat-room-list .room .leave-chat svg {
    box-sizing: content-box;
}

/* Canvas Channel Backgrounds */
#channel #custom-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Redesign Hot-Fixes */
#chat_emote_dropmenu_button.newlayout {
    background-repeat: no-repeat;
}

.ember-chat .chat-messages .tse-scroll-content {
    padding: 0px;
}

.ember-chat .chat-buttons-container .chat-option-buttons button {
    height: 32px !important;
    width: 38px !important;
}

.ember-chat .chat-menu .chat-top-header {
    border-bottom: 0px solid;
    margin: 0px;
}

#small_nav .content ul li .home_icon svg path {
    display: none;
}

.normal_button.active, .normal_button {
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: none;
}

#channel .player-column .stats-and-actions .channel-stats, #main_col .content #stats_and_actions #channel_stats, .channel-stats .stat {
    font-size: 12px;
}

.ember-chat .chat-menu .chat-top-header p {
    line-height: 40px;
}

.ember-chat .chat-messages .chat-line.admin {
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.ember-chat .chat-messages .chat-line.admin .timestamp {
    display: inline;
}

.ember-chat .chat-messages.hideTimestamps .chat-line.admin .timestamp {
    display: none;
}

.ember-chat .chatters-view {
    left: 0px;
    right: 0px;
    padding: 0px;
    border: none;
}

.ember-chat .chatters-view.viewer-list-popped-out .chatters-container .chatters {
    margin: 0px;
}

.ember-chat .ember-list-item-view {
    left: 15px;
}

.ember-chat .chat-settings {
    padding: 0px;
    left: 12px;
    bottom: 42px;
}

.ember-chat .chat-interface {
    left: 0px;
    right: 0px;
    padding: 0px;
    height: 115px !important;
}

/* emoticon selector scrollbar in chrome */
.ember-chat .chat-interface .emoticon-selector ::-webkit-scrollbar,
.conversation-input-bar .conversation-input-actions .emoticon-selector-container .emoticon-selector ::-webkit-scrollbar,
.activity-card .activity-card__status .activity-react .emoticon-selector ::-webkit-scrollbar {
  width: 6px;
}

.ember-chat .chat-interface  .emoticon-selector ::-webkit-scrollbar-thumb,
.conversation-input-bar .conversation-input-actions .emoticon-selector-container .emoticon-selector ::-webkit-scrollbar-thumb,
.activity-card .activity-card__status .activity-react .emoticon-selector ::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.7);
  border-radius: 7px;
}

.ember-chat .chat-interface  .emoticon-selector ::-webkit-scrollbar-track,
.conversation-input-bar .conversation-input-actions .emoticon-selector-container .emoticon-selector ::-webkit-scrollbar-track,
.activity-card .activity-card__status .activity-react .emoticon-selector ::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}

.ember-chat .chat-interface .emoticon-selector .emoticon-selector-box {
    padding: 0 3px;
}

.ember-chat .chat-interface .chat-buttons-container .chat-option-buttons {
    margin-left: 8px;
}

/* more-messages-indicator is not full width */
.ember-chat .chat-interface .more-messages-indicator {
    left: 0px;
    right: 0px;
}

.ember-chat .chat-header {
    right: 0px;
    left: 0px;
    width: 100%;

    z-index: 4;/* fixes issues with viewer list */
}

.ember-chat .chat-menu-button-container {
    height: 40px;
}

.ember-chat .chat-menu-button-container span {
    padding: 13px 11px;
}

.ember-chat .chat-room, .ember-chat .chat-rooms {
    top: 50px;
}

.ember-chat .chat-menu .list-header {
    margin: 0px;
    padding-top: 0px;
    padding: 15px;
}

.ember-chat .top-notification {
    left: 0px;
    right: 0px;
}

.ember-chat .chat-menu-button-container.right {
    right:0px;
}

.ember-chat .chat-menu-button-container.left {
    left: 0px;
}

.g18_gear-00000080 {
    background-image: url(//www-cdn.jtvnw.net/images/xarth/g/g18_gear-00000080.png);
}
.g18_close-00000080 {
    background-image: url(//www-cdn.jtvnw.net/images/xarth/g/g18_close-00000080.png);
}
.g18_popout-00000080 {
    background-image: url(//www-cdn.jtvnw.net/images/xarth/g/g18_popout-00000080.png);
}
.g18_trash-00000080 {
    background-image: url(//www-cdn.jtvnw.net/images/xarth/g/g18_trash-00000080.png);
}

.ember-chat .chat-messages .chat-line.admin {
    margin: 0;
}

.ember-chat .top-dropdown .input-contain {
    left: 10px;
    right: 10px;
}

.ember-chat .top-dropdown .button {
    right: 10px;
}

.archives-contain .more-archives {
    margin: 0 !important;
    width: 100%;
}

.archives-contain .videos {
    padding:0;
}
.archives-contain .list-video {
    padding: 10px 10px;
}
span.mod-controls {
    display: inline-block;
}
div.part.description a {
    text-decoration: underline;
}
.app-main .isLoggedIn .nav_section div#you {
    position: relative;
    min-height: 34px;
}
.app-main .isLoggedIn .nav_section div#you span.username {
    max-width: 120px;
    position: absolute;
    z-index: 9999;
    overflow: hidden;
    white-space: nowrap;
}
.app-main .isLoggedIn .nav_section div#you span.username:hover {
    max-width: 100%;
    padding-right: 5px;
}

/* realign login/out button */
#large_nav .content .bottom .loggedout .buttons a {
    width: 93px;
}

/* TwitchCast button (sits atop Twitch player)*/
#twitchcast_button {
    background: url(../assets/icons/chromecast.png) no-repeat 0px 0px;
    background-size: 48px 18px;
    height: 18px;
    width: 23px;
    position: absolute;
    left: 160px;
    bottom: 5px;
}

.theatre #twitchcast_button:parent {
    display: none !important;
}

#twitchcast_button:hover {
    background: url(../assets/icons/chromecast.png) no-repeat -24px 0px;
    background-size: 48px 18px;
}

.dash-chat-column {
    background: rgba(0,0,0,0.05);
}

body.channel_new.columns.ember-application {
    background: rgba(0,0,0,0.05);
}

.ember-view.ember-chat.roomMode {
    background: #efeef1 !important;
}

/* Remove Twitch's Dark Mode toggle */
.ember-chat .toggle-darkmode {
    display: none !important;
}

.theatre .toggleDarkenTTV {
    display: none !important;
}

/* pinned highlights */
#bttv-pin-container {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;

    background-color: #efeef1;
    box-shadow: 0px 8px 8px -5px #000;

    z-index: 99998;
}

#bttv-pinned-highlight {
    padding: 2px 10px;

    font-weight: bold;
    font-size: 0.8572em;
    color: #fff;

    background-color: rgba(255, 0, 0, 0.5);
}

#bttv-pinned-highlight span {
    padding-right: 5px;
}

#bttv-pinned-highlight .message {
    word-break: break-word;
}

#bttv-pinned-highlight .close {
    cursor: pointer;
    fill: #fff;
}

/* embedded poll feature */
#bttv-poll-contain {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 50px;

    background: #222;
    color: #e3e3e3;
    box-shadow: 0px 8px 8px -5px #000;

    overflow: hidden;
    display: none;
    z-index: 99999;
}

#bttv-poll-contain .title {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;

    height: 50px;
    line-height: 50px;
    padding: 0px 24px;

    font-size: 16px;

    cursor: pointer;
}

#bttv-poll-contain .close {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    padding: 17px;

    background: #800;

    cursor: pointer;

    z-index: 999999;
}

#bttv-poll-contain .close svg path {
    fill: #fff;
}

#bttv-poll-contain .frame {
    position: absolute;
    top: 50px;
    left: 0px;

    width: 100%;
    height: 400px;

    border: none;

    display: none;
}

/* theatre mode */
#channel .player-column .exit-theatre > a {
    color: #000;
    background: #fff;
    opacity: 0.6;
}

/* Fix the information under the video on the right */
#channel .channel-stats {
    white-space: nowrap;
}

/* white font on dark bg is killer on the eyes */
.following-games-onboarding strong {
    color: #8c8c9c;
}

/* Emoticons */
.emoticon {
    vertical-align: baseline !important;
    display: inline-block;
    padding-top: 5px;
}

/* Emoji */
.bttv-emoji {
    height: auto;
    width: 20px;
    margin-bottom: -4px;
    display: inline-block;
}

/* tehMorag's emote */
@keyframes morag-spin {
    from {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
    }

    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes morag-spin {
    from {
        -moz-transform: rotate(0);
        transform: rotate(0);
    }

    to {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes morag-spin {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-ms-keyframes morag-spin {
    from {
        -ms-transform: rotate(0);
        transform: rotate(0);
    }

    to {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes morag-spin {
    from {
        -o-transform: rotate(0);
        transform: rotate(0);
    }

    to {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.ttv-emo-6633 {
    padding-top: 0px;
    -webkit-animation: morag-spin 1.5s linear infinite;
    -moz-animation: morag-spin 1.5s linear infinite;
    -ms-animation: morag-spin 1.5s linear infinite;
    -o-animation: morag-spin 1.5s linear infinite;
    animation: morag-spin 1.5s linear infinite;
}

/* Notification Container above chat */
.ember-chat .notification-container {
    left: 0px;
    right: 0px;
}

/* mod card user locater */
.chat-line.bttv-user-locate .from {
    box-shadow: 0px 2px 0px 0px #f00;
}

/* dropmenu margin fix */
.stats-and-actions .channel-actions .dropmenu,
.chat-interface .dropmenu {
    margin-bottom: 5px;
}

/* whispers */
.chat-messages .chat-line.whisper {
    background-color: #E8D6FF !important;
    position: relative;
    width: auto;
    height: auto;
    top: auto;
    right: auto;
    opacity: 1;
    transform: none;
}
.chat-messages .chat-line .svg-whisper-arrow {
    fill: #32323e;
}

.conversation-content::-webkit-scrollbar, .conversations-list-inner::-webkit-scrollbar {
  width: 6px;
}

.conversation-content::-webkit-scrollbar-thumb, .conversations-list-inner::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.7);
  border-radius: 7px;
}

.conversation-content::-webkit-scrollbar-track, .conversations-list-inner::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}

.ember-chat .chat-interface .suggestions {
    z-index: 1000;
}

/* Hide duplicate message once we add our parsed version */
.conversation-chat-line.bttv-parsed-message .message {
    display: none;
}

/* small nav follow count */
 #bttv-small-nav-count {
    position: absolute;
    left: 30px;
    margin-top: 20px;
    color: #CFCFCF;
    font-size: 10px;
}

#bttv-follow-count {
    position: absolute;
    left: 36px;
    bottom: 0px;
    font-weight: bold;
    color: #fff;
    font-size: 10px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#left_col.closed #bttv-follow-count {
    left: 26px;
    bottom: 4px;
}

/* channel state feature */
#bttv-channel-state-contain {
    position: absolute;
    top: 7px;
    right: 5px;
    width: 150px;
    height: 24px;
}

#bttv-channel-state-contain svg path {
    fill: #222;
}


#bttv-channel-state-contain div {
    float: right;
    width: 26px;
    height: 22px;
}

#bttv-channel-state-contain .slow {
    position: relative;
    width: 70px;
    text-align: right;
}

#bttv-channel-state-contain .slow .slow-time {
    position: absolute;
    top: 8px;
    right: 24px;
    font-size: 9px;
    line-height: 9px;
}

/* normalizes username colors in chat */
.ember-chat .chat-room.no-name-colors .chat-messages .chat-line .from, .ember-chat .chat-room.no-name-colors .chat-messages .chat-line .to {
    color: #6441A5 !important;
}

/* twitch floats all chat elements */
.chat-line .float-left {
    float: none;
}

/* custom timeouts */
#bttv-custom-timeout-contain {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 80px;
    height: 200px;
    overflow: hidden;

    background: rgba(90,90,90,0.4);

    z-index: 99999;
}

#bttv-custom-timeout-contain .text,
#bttv-custom-timeout-contain .cursor {
    position: absolute;
    left: 0px;
    top: 100px;
    width: 80px;
    height: 1px;
    background: #f00;
}

#bttv-custom-timeout-contain .text {
    top: 85px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: rgba(0,0,0,0.6);
    cursor: default;
    display: none;
}

#bttv-custom-timeout-contain:hover .text {
    display: block;
}

#bttv-custom-timeout-contain:hover .cursor {
    background: #0f0;
}

/* chat replay */
.chat-container.chatReplay .ember-chat .chat-interface {
    display: none;
}
.chat-container.chatReplay .ember-chat .chat-room {
    top: 5px;
}
.chat-container.chatReplay .ember-chat .chat-messages {
    bottom: 5px;
}

.chatReplay .chat-messages .show-timestamp .timestamp {
    display: inline;
    font-size: 11px;
}

.chatReplay .chat-messages .badges {
    margin-bottom: -5px;
}

.chatReplay .chat-messages .badges .badge-img {
    border-radius: 2px;
}

.chatReplay .chat-messages .chat-line .from {
    cursor: pointer !important;
}

/* host & playlist banner fix */
.player-column .brick {
    border-left: 5px solid #6441a5 !important;
    box-shadow: 0px 0 0 #6441a4 inset !important;
}

/* user chat mentions */
.chat-messages .chat-line .user-mention {
    font-weight: 700;
    padding-right: 0px!important;
}

.chat-messages .chat-line .user-mention:hover {
    text-decoration: underline;
    cursor: pointer;
}

.chat-container .ember-chat .chat-line .mentioning,
.chat-container .ember-chat .chat-line .mentioned {
    cursor: pointer;
    background-color: inherit;
    font-weight: bold;
    color: white;
    padding: 0;
}

#emote-menu-button {
    width: 15px;
    height: 30px;
    background-color: transparent;
}

/* bits */

.bits-card {
    width: 100%;
}

.ember-chat .chat-interface .textarea-contain textarea {
    padding-right: 50px;
}

/* chat rules */
.ember-chat .chat-interface .chat-rules {
    margin: 0 6%;
}

/* chat notice style */
.chat-lines .notice {
    background: #D8BFD8 !important;
}

/* Only show player viewer count in theatre */
.player-viewer-count {
    display: none;
}

.app-main.theatre .player-viewer-count {
    display: inline-block;
}

/* search scroll bar */
#search-panel .search-result-view .collection-wrapper::-webkit-scrollbar {
    width: 6px;
}

#search-panel .search-result-view .collection-wrapper::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.7);
    border-radius: 7px;
}

#search-panel .search-result-view .collection-wrapper::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
}

#video-manager #highlighter {
    padding: 0px;
}

/* Twitch Emote Menu */
.emoticon-selector .emoticon-selector-box .tabs .tab {
    top: 0;
}

.emoticon-selector .emoticon-selector-box .tabs {
    margin-bottom: .25rem;
}

.emoticon-selector .emoticon-selector-box .tabs > .tab:hover {
    box-shadow: none;
}

/* Make past broadcast banner thinner */

.recent-past-broadcast__cap-contain {
    overflow: hidden;
}

.recent-past-broadcast__message {
    padding: 0px 216px 10px 0;
}

.recent-past-broadcast__message h1 {
    display: none;
}

/* Add hide button to past broadcast banner */
.recent-past-broadcast__message_sub:after {
    float: right;
    content: "Hide";
    cursor: pointer;
}

/* Prime Sub Reminder */
.bttv-prime-sub-reminder::after {
    background: url(https://cdn.betterttv.net/assets/icons/badge-prime.svg);
    background-size: contain;
    top: 9px;
    right: 8px;
    width: 14px;
    height: 14px;
    border: none;
    position: absolute;
}

/* pinned cheers */
.pinned-cheers__dismiss {
    left: 5px;
    top: 8px;
    height: 16px;
    justify-content: center;
}

.pinned-cheers {
    padding-bottom: 10px;
    padding-left: 5px;
    margin: 0;
}

.pinned-cheers:before {
    content: "Dismiss";
    float: right;
    color: #777;
    margin: 2px 5px -10px 0;
    cursor: pointer;
}

.pinned-cheers .mod-icons {
    display: none;
}

.pinned-cheers .timestamp {
    font-size: 11px;
}

.pinned-cheers__message .chat-line {
    max-height: 45px;
}

.pinned-cheer__expando-arrow {
    bottom: 10px;
    top: auto;
}

.pinned-cheer__expando-arrow:hover {
    cursor: pointer;
}

.pinned-cheers .to-right-reverse-to-left-pinned-cheers .liquid-child {
    transform: none!important;
}

/* automod */
.ember-chat .chat-messages .chat-line .system-msg {
    margin-bottom: 8px;
    color: #575260;
}

.twitchbot .pd-y-1 {
    text-align: center;
}

/* Mini-player / fullscreen fix */
.player-mini .player[data-isfullscreen=true] {
    width: auto;
    height: auto;
    top: 0;
}

/*** Holiday 2016 BTTV emote CSS ***/

/* No stacking of IceCube or SoSnowy */
.bttv-emo-5849c9a4f52be01a7ee5f79d + .bttv-emo-5849c9a4f52be01a7ee5f79d,
.bttv-emo-567b5b520e984428652809b6 + .bttv-emo-567b5b520e984428652809b6 {
    display: none;
}

.emoticon + .bttv-emo-5849c9a4f52be01a7ee5f79d { /* Ice Cube */
    margin-left: -35px;
    margin-bottom: -8px;
    margin-top: -8px;
}

.emoticon + .bttv-emo-58487cc6f52be01a7ee5f205 { /* SantaHat */
    margin-left: -34px;
    margin-bottom: -1px;
}

.emoticon + .bttv-emo-5849c9c8f52be01a7ee5f79e { /* TopHat */
    margin-left: -32px;
    margin-bottom: -2px;
}

.emoticon + .bttv-emo-567b5b520e984428652809b6,  /* SoSnowy */
.emoticon + .bttv-emo-567b5c080e984428652809ba,  /* CandyCane */
.emoticon + .bttv-emo-567b5dc00e984428652809bd { /* ReinDeer */
    margin-left: -33px;
}

.emoticon + .bttv-emo-58017c088faabf4b3d008460,  /* HalloFedora */
.emoticon + .bttv-emo-5801777f8faabf4b3d008434,  /* HalloWitch */
.emoticon + .bttv-emo-58017be38faabf4b3d00845a,  /* HalloKKona */
.emoticon + .bttv-emo-58017bcc8faabf4b3d008456,  /* HalloHalo */
.emoticon + .bttv-emo-5802e7a5d336345f3d4e1ed5,  /* HalloPirate */
.emoticon + .bttv-emo-58017bf38faabf4b3d00845d { /* HalloHorns */
    margin-left: -32px;
}

/* Limit of 10 SoSnowy in a single message */
.bttv-emo-567b5b520e984428652809b6:nth-of-type(n + 11) {
    display: none;
}

/* automod */
.ember-chat .chat-messages .chat-line .system-msg {
    margin-bottom: 8px;
    color: #575260;
}

.twitchbot .pd-y-1 {
    text-align: center;
}

/*** Holiday 2016 BTTV emote CSS ***/

/* No stacking of IceCube or SoSnowy */
.bttv-emo-5849c9a4f52be01a7ee5f79d + .bttv-emo-5849c9a4f52be01a7ee5f79d,
.bttv-emo-567b5b520e984428652809b6 + .bttv-emo-567b5b520e984428652809b6 {
    display: none;
}

.emoticon + .bttv-emo-5849c9a4f52be01a7ee5f79d { /* Ice Cube */
    margin-left: -35px;
    margin-bottom: -8px;
    margin-top: -8px;
}

.emoticon + .bttv-emo-58487cc6f52be01a7ee5f205 { /* SantaHat */
    margin-left: -34px;
    margin-bottom: -1px;
}

.emoticon + .bttv-emo-5849c9c8f52be01a7ee5f79e { /* TopHat */
    margin-left: -32px;
    margin-bottom: -2px;
}

.emoticon + .bttv-emo-567b5b520e984428652809b6,  /* SoSnowy */
.emoticon + .bttv-emo-567b5c080e984428652809ba,  /* CandyCane */
.emoticon + .bttv-emo-567b5dc00e984428652809bd { /* ReinDeer */
    margin-left: -33px;
}

.emoticon + .bttv-emo-58017c088faabf4b3d008460,  /* HalloFedora */
.emoticon + .bttv-emo-5801777f8faabf4b3d008434,  /* HalloWitch */
.emoticon + .bttv-emo-58017be38faabf4b3d00845a,  /* HalloKKona */
.emoticon + .bttv-emo-58017bcc8faabf4b3d008456,  /* HalloHalo */
.emoticon + .bttv-emo-5802e7a5d336345f3d4e1ed5,  /* HalloPirate */
.emoticon + .bttv-emo-58017bf38faabf4b3d00845d { /* HalloHorns */
    margin-left: -32px;
}

/* Limit of 10 SoSnowy in a single message */
.bttv-emo-567b5b520e984428652809b6:nth-of-type(n + 11) {
    display: none;
}

.chat-line .colon,
.conversation-chat-line .colon {
    margin-left: -3px;
}

.chat-line .undelete a {
    text-decoration: none
}

.chat-line .bttv-deleted {
    opacity: 0.3;
}
