.bits-helper-toggle, .bits-card, .bits-tag--container {
	display: none;
}

.ember-chat .chat-messages.bits-tags__offset {
    top: 0;
}

.ember-chat .sticky-message--pinned-cheers {
    display: none;
}
