@import '~rsuite/styles/index.less';

// @import '~rsuite/Animation/styles/index';
// @import '~rsuite/AutoComplete/styles/index';
// @import '~rsuite/Button/styles/index';
// @import '~rsuite/ButtonGroup/styles/index';
// @import '~rsuite/Checkbox/styles/index';
// @import '~rsuite/CheckboxGroup/styles/index';
// @import '~rsuite/CheckPicker/styles/index';
// @import '~rsuite/Divider/styles/index';
// @import '~rsuite/Dropdown/styles/index';
// @import '~rsuite/Footer/styles/index';
// @import '~rsuite/FormGroup/styles/index';
// @import '~rsuite/IconButton/styles/index';
// @import '~rsuite/Input/styles/index';
// @import '~rsuite/InputGroup/styles/index';
// @import '~rsuite/InputPicker/styles/index';
// @import '~rsuite/Loader/styles/index';
// @import '~rsuite/Modal/styles/index';
// @import '~rsuite/Nav/styles/index';
// @import '~rsuite/Navbar/styles/index';
// @import '~rsuite/Panel/styles/index';
// @import '~rsuite/PanelGroup/styles/index';
// @import '~rsuite/Placeholder/styles/index';
// @import '~rsuite/Popover/styles/index';
// @import '~rsuite/Radio/styles/index';
// @import '~rsuite/Sidenav/styles/index';
// @import '~rsuite/Slider/styles/index';
// @import '~rsuite/Table/styles/index';

@base-color: #9146ff;
@reset-import: false;
@body-bg: false;
@text-color: false;
// @icon-font-path: 'FONT-PATH-PLACEHOLDER';

// Enable dark mode
@enable-dark-mode: true;

// Enable high contrast mode
@enable-high-contrast: true;

.rs-icon.fill-colour use {
  fill: currentColor;
}

.rs-panel-heading {
  padding-bottom: 0px;
}

.rs-modal-dialog,
.rs-modal-content,
.rs-modal {
  width: 800px;
  height: 500px;

  * {
    box-sizing: border-box;
  }

  *::before,
  *::after {
    box-sizing: border-box;
  }
}

.rs-modal {
  margin: 0;
}

.rs-modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rs-modal-content {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.rs-table-cell-content {
  padding: 0px;
}

.rs-divider-horizontal.rs-divider-with-text {
  margin: 20px;
}

.rs-radio-checker,
.rs-checkbox-checker {
  vertical-align: middle;
  padding-top: 0px;
  padding-bottom: 15px;
}

.rs-modal-wrapper {
  z-index: 3100;
}

.rs-popover {
  z-index: 3100;
}

.rs-tooltip {
  z-index: 3150;
}

@media screen and (max-width: 769px) {
  .rs-modal {
    width: 95%;
  }

  .rs-modal-content,
  .rs-modal-dialog {
    width: 100%;
  }
}

.rs-popover {
  -webkit-transform: unset !important;
  transform: unset !important;
}

.rs-btn-icon {
  display: flex;
  justify-content: center;
  column-gap: 12px;
  align-items: center;
}

.rs-btn-icon-with-text.rs-btn.rs-btn-icon-placement-left {
  padding: 8px 20px;
}
