@import '~rsuite/styles/index.less';

// @import '~rsuite/Animation/styles/index';
// @import '~rsuite/AutoComplete/styles/index';
// @import '~rsuite/Button/styles/index';
// @import '~rsuite/ButtonGroup/styles/index';
// @import '~rsuite/Checkbox/styles/index';
// @import '~rsuite/CheckboxGroup/styles/index';
// @import '~rsuite/CheckPicker/styles/index';
// @import '~rsuite/Divider/styles/index';
// @import '~rsuite/Dropdown/styles/index';
// @import '~rsuite/Footer/styles/index';
// @import '~rsuite/FormGroup/styles/index';
// @import '~rsuite/IconButton/styles/index';
// @import '~rsuite/Input/styles/index';
// @import '~rsuite/InputGroup/styles/index';
// @import '~rsuite/InputPicker/styles/index';
// @import '~rsuite/Loader/styles/index';
// @import '~rsuite/Modal/styles/index';
// @import '~rsuite/Nav/styles/index';
// @import '~rsuite/Navbar/styles/index';
// @import '~rsuite/Panel/styles/index';
// @import '~rsuite/PanelGroup/styles/index';
// @import '~rsuite/Placeholder/styles/index';
// @import '~rsuite/Popover/styles/index';
// @import '~rsuite/Radio/styles/index';
// @import '~rsuite/Sidenav/styles/index';
// @import '~rsuite/Slider/styles/index';
// @import '~rsuite/Table/styles/index';

@ns: bttv-rs-;
@base-color: #9146ff;
@reset-import: false;
@body-bg: false;
@text-color: false;
// @icon-font-path: 'FONT-PATH-PLACEHOLDER';

// Enable dark mode
@enable-dark-mode: true;

// Enable high contrast mode
@enable-high-contrast: true;

.@{ns}icon.fill-colour use {
  fill: currentColor;
}

.@{ns}panel-heading {
  padding-bottom: 0px;
}

.@{ns}modal-dialog,
.@{ns}modal-content,
.@{ns}modal {
  width: 800px;
  height: 500px;

  * {
    box-sizing: border-box;
  }

  *::before,
  *::after {
    box-sizing: border-box;
  }
}

.@{ns}modal {
  margin: 0;
}

.@{ns}modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.@{ns}modal-content {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.@{ns}table-cell-content {
  padding: 0px;
}

.@{ns}divider-horizontal.@{ns}divider-with-text {
  margin: 20px;
}

.@{ns}radio-checker,
.@{ns}checkbox-checker {
  vertical-align: middle;
  padding-top: 0px;
  padding-bottom: 15px;
}

.@{ns}modal-wrapper {
  z-index: 3100;
}

.@{ns}popover {
  z-index: 3100;
}

.@{ns}tooltip {
  z-index: 3150;
}

@media screen and (max-width: 769px) {
  .@{ns}modal {
    width: 95%;
  }

  .@{ns}modal-content,
  .@{ns}modal-dialog {
    width: 100%;
  }
}

.@{ns}nav-item-content {
  svg {
    width: 100% !important;
  }
}

.@{ns}popover {
  -webkit-transform: unset !important;
  transform: unset !important;
}
