.description {
  color: #cccccc;
}

.header {
  position: absolute;
  right: 14px;
  left: 56px;
  top: 0;
  z-index: 10;
  overflow: hidden;
  pointer-events: none;

  .flexHeader {
    pointer-events: all;
    display: flex;
    column-gap: 10px;
    padding: 10px 0 10px 10px;
    background-color: #292d33;
  }

  .closeButton {
    pointer-events: all;
    padding: 10px 0 10px 10px;
    float: right;
  }
}

.setting {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.content {
  overflow: hidden;
  max-height: 500px;
  margin-left: 56px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #191c23 transparent;
}

.center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider {
  padding-top: 50px;
}

.content::-webkit-scrollbar {
  border-radius: 6px;
  width: 5px;
}

.content::-webkit-scrollbar-thumb {
  background: #191c23;
  border-radius: 5px;
}

.content::-webkit-scrollbar-thumb:hover {
  background: #191c23;
}

.toggle {
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: space-between;
}
