.default {
  position: relative;
  background-color: #292d33;
  height: 100vh;
  z-index: 10;

  .header {
    display: flex;
    background-color: #1a1d24;
    align-items: center;
    padding: 10px;
    column-gap: 10px;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));

    .search {
      flex-grow: 4;
    }

    .logo {
      width: 56px;
      padding: 10px;
      margin-top: 5px;
      margin-bottom: 5px;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
  }
}

.chatWindowContent {
  composes: scroll from '../../emote_menu/styles/scrollbar.module.css';
  height: calc(100% - 76px);
}
