.standaloneChatWindow {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--bttv-rs-bg-overlay);
  z-index: 10;

  .header {
    display: flex;
    background-color: var(--bttv-rs-bg-well);
    align-items: center;
    padding: 10px;
    column-gap: 10px;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));

    .search {
      flex-grow: 4;

      input {
        box-sizing: border-box;
      }
    }

    .logo {
      box-sizing: unset;
      width: 36px;
      height: 36px;
      padding: 10px;
      margin-top: 5px;
      margin-bottom: 5px;
      transform: scaleX(-1);
      object-fit: contain;
    }
  }
}

.chatWindowContent {
  composes: scroll from '../../emote_menu/styles/Scrollbar.module.css';
  height: calc(100% - 76px);
}
