.logoContainer {
  margin: 14px;
  color: var(--bttv-brand-color);

  .logo {
    width: 28px;
    height: 28px;
    overflow: hidden;
  }
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.sidenav {
  position: fixed;
  height: 500px;
  margin: 0;
  padding: 0;
  border-radius: 5px 0px 0px 4px;
  transition: width 0.35s ease-in-out;
  overflow: hidden;
  z-index: 6;
}

.nav ul {
  display: flex;
  flex-direction: column;
}

.nav {
  border-radius: 5px;
}
