.input .bttv-rs-input {
  margin-left: 6px;
  position: absolute;
  left: 0;
  top: 5px;
  width: 100%;
  margin-right: 6px;
}

.action {
  float: right;
  margin-right: 4px;
  padding-right: 8px;
  padding-left: 4px;

  & + .action {
    padding-right: 4px;
  }
}

.actionCell {
  padding: 6px 0;
}

.dropdown {
  padding: 5px;
}

.text {
  margin-top: 12px;
  margin-left: 18px;
  font-size: 14px;
}

.tableContentEditing {
  margin-left: 6px;
  position: absolute;
  left: 0px;
  width: 95%;
  top: 7px;
  height: 30px;
}

.tableContentHovering {
  margin-left: 6px;
  position: absolute;
  left: 0px;
  width: 95%;
  top: 7px;
  height: 30px;
  opacity: 0.5;
}

.button {
  width: 25%;
  min-width: 150px;
}

.container {
  border-radius: 4px;
  position: relative;
}

.additionalSettingsDarken {
  opacity: 0.3;
}

.table {
  margin-bottom: 8px;
}

.additionalSettings {
  background-color: var(--bttv-rs-sidenav-default-bg);
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  border-radius: 4px;
  z-index: 2;
  padding: 16px;
  max-height: 240px;
}

.additionalSettingsClose {
  position: absolute;
  top: 8px;
  right: 8px;
}

.header div {
  margin-left: 4px;
}
