.bttv-hide-player-extensions {
  .extensions-dock__layout, .extensions-video-overlay-size-container, .extensions-notifications, .extension-container, .extension-taskbar {
    display: none !important;
  }
}

.bttv-hide-player-cursor {
  div[data-test-selector="video-player__video-container"] {
    cursor: none;
  }
}

#bttv-picture-in-picture svg {
  fill: currentColor;
}
