.bttv-hide-player-extensions {
  .extension-container, .extension-taskbar {
    display: none !important;
  }
}

.bttv-hide-player-cursor {
  .video-player--fullscreen .player {
    cursor: none;
  }
}
