.commandsModalBody {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 16px;
  row-gap: 16px;
}

.commandsList {
  display: flex;
  flex-direction: column;
  align-items: left;
  row-gap: 8px;
  max-height: 50vh;
  overflow-y: auto;
}

.command {
  display: flex;
  align-items: center;
  justify-content: left;
  column-gap: 12px;
}

.commandName {
  min-width: 96px;
  text-align: center;
}

.commandDescription {
  color: var(--mantine-color-dimmed);
}
