#bttv-channel-state-contain {
  position: relative;
  padding-top: 5px;
  margin-right: 10px;
  color: #6441a4;
  float: left;

  svg path {
    fill: #6441a4;
  }

  div {
    float: left;
    height: 22px;
    display: none;
  }

  .slow {
    position: relative;
    text-align: right;

    .slow-time {
      font-size: 9px;
      padding-top: 5px;
      margin-right: -4px;
    }
  }
}

.tw-root--theme-dark {
  #bttv-channel-state-contain {
    color: #b19dd8;

    svg path {
      fill: #b19dd8;
    }
  }
}
