.bttv-moderator-card-actions > div {
  position: relative;
}

.bttv-moderator-card-action {
  font-size: 1rem;

  .actionText {
    position: relative;
    padding: var(--button-padding-y) 6px;
    text-align: center;
    height: 28px;
  }
}

.bttv-moderator-card-user-stats {
  color: white;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex !important;
  width: 100% !important;

  .userStat {
    padding-left: 1rem !important;
    align-items: center !important;
    display: inline-flex !important;

    .statIcon {
      margin-right: 1rem !important;
      align-items: center !important;
      display: inline-flex !important;
    }
  }
}

.bttv-moderator-card-nickname-change-button {
  margin-top: -5px;
  border: var(--border-width-default) solid transparent;
  background-color: var(--color-background-button-icon-overlay-default);
  color: var(--color-text-button-overlay);
  border-radius: var(--border-radius-medium);
  height: var(--button-size-default);
  width: var(--button-size-default);
  justify-content: center;
  user-select: none;
  display: inline-flex;
  align-items: center;

  &:hover {
    background-color: var(--color-background-button-icon-overlay-hover);
    color: var(--color-text-button-overlay-hover);
  }

  .buttonIcon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.bttv-moderator-card-messages {
  border-top: 1px solid #222;
  background-color: var(--color-background-base) !important;

  .message-list {
    overflow-y: auto;
    max-height: 100px;
    width: 100%;
    display: none;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #777;
    }

    .chat-line__mod-icons {
      display: none !important;
    }

    /* Prevent Message Delete Link */
    .chat-line__message--deleted > a {
      pointer-events: none;
    }
  }

  .label {
    padding-top: 5px;
    padding-left: 8px;
    padding-bottom: 5px;
    padding-right: 5px;
    position: relative;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;

    .triangle {
      width: 0;
      height: 0;
      opacity: 0.5;
      position: absolute;
      right: 8px;
      top: 8px;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-left: 7px solid #6441a4;
      transition: all 50ms ease-in;

      &.open {
        transform: rotate(90deg);
      }
    }
  }
}

.tw-root--theme-dark {
  .bttv-moderator-card-messages .triangle {
    border-left-color: white;
  }
}
