
.bttv-font-size-1 {
    font-size: 1rem;
}

.bttv-hide-section {
    display: none!important;
}

.viewer-card__overlay {
    background: rgba(20, 20, 20, 0.7);
}

.bttv-stats, .bttv-created-at {
    color: #fff;
}

.bttv-messages-scroll {
    overflow-y: auto;
    max-height: 250px;
    width: 1000px;

    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #777;
    }

    .chat-line__mod-icons {
        display: none!important;
    }
}

[data-a-target=chat-message-mention] {
    font-weight: bold;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}
