.modifierImage {
  width: 20px;
  height: 20px;
}

.modifiersModalBody {
  display: flex;
  flex-direction: column;
  align-items: left;
  row-gap: 8px;
}

.modifierDescription {
  color: var(--bttv-rs-text-secondary);
}

.modifier {
  display: flex;
  align-items: center;
  justify-content: left;
  column-gap: 12px;
}

.modifiersModalDescription {
  margin-bottom: 12px;
}

.modifierCode {
  min-width: 32px;
  text-align: center;
}
